/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-chart-c3 .ep-chart-div {
  background-color: white;
  height: 100%;
}
.ep-chart-c3 .ep-chart-div #chartc3 {
  min-height: 80px;
  width: 100%;
}
.ep-chart-c3 .c3-axis-y-label,
.ep-chart-c3 .c3-axis-x-label {
  font-weight: bold;
}
.ep-chart-c3 .ep-fadein-animation.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}
.ep-chart-c3 .ep-fadein-animation.ng-enter-active {
  transition: 0.8s linear all;
  opacity: 1;
}
.ep-chart-c3 .ep-legend-off {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}
.ep-chart-c3 .popover {
  top: 50px !important;
}
.ep-chart-c3 .ep-c3-legend-btn {
  margin-right: 10px;
}
@media screen and (max-width: 400px) {
  .ep-chart-c3 .ep-opt-legend-hidden {
    display: none;
  }
}
.ep-chart-c3 .ep-chart-c3-legends {
  height: 200px;
  width: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.ep-chart-c3 .ep-chart-c3-legends button {
  margin-top: 4px;
}
.ep-chart-c3 .c3-tooltip {
  color: dimgrey;
}
