/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-accordion-menu .list-group .panel > .list-group-item {
  color: transparent;
  border-radius: 0;
  cursor: pointer;
}
.ep-accordion-menu .ep-menu-header {
  border-radius: 0 !important;
  cursor: pointer;
  padding: 10px;
}
.ep-accordion-menu .ep-mlm-search {
  position: relative;
}
.ep-accordion-menu .ep-mlm-search-cancel {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  opacity: .5;
  cursor: pointer;
}
/* Hide the buggy cancel icon on the search input in IE because we show our own*/
.ep-accordion-menu .ep-mlm-search-input::-ms-clear {
  display: none;
}
.ep-accordion-menu .list-group-item {
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding: 5px 0 5px 0;
}
.ep-accordion-menu .list-group-item:last-child {
  border-bottom: none;
}
.ep-accordion-menu .container-fluid {
  padding-left: 0;
}
.ep-accordion-menu .container-fluid:focus {
  outline: none;
  background-color: #0071b3;
}
.ep-accordion-menu .container-fluid:hover {
  outline: none;
  background-color: #0083D0;
}
.ep-accordion-menu .container-fluid:focus .ep-submenu-header {
  outline: none;
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .container-fluid:focus #menuItem {
  outline: none;
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .container-fluid:hover .ep-submenu-header {
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .container-fluid:hover #menuItem {
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .list-group-item:first-child {
  border-top: none;
}
.ep-accordion-menu .list-group-item {
  margin-left: 4px;
}
.ep-accordion-menu .list-group > .list-group-item {
  margin-left: 0px;
}
.ep-accordion-menu .list-group > .list-group-item:focus {
  outline: none;
}
.ep-accordion-menu .panel {
  margin-bottom: 0;
}
.ep-accordion-menu .ep-accordion-menu-desc {
  margin-left: 5px;
}
.ep-accordion-menu .ep-accordion-expanded {
  padding-bottom: 6px;
}
.ep-accordion-menu .ep-submenu-header.ep-accordion-expanded {
  font-weight: bold;
}
.ep-accordion-menu .list-group-submenu.ep-accordion-expanded.ep-accordion-expanded-odd {
  background-color: gainsboro;
}
.ep-accordion-menu .ep-accordion-expanded.ep-accordion-expanded-odd {
  background-color: gainsboro;
}
.ep-accordion-menu .list-group-submenu.ep-accordion-expanded.ep-accordion-expanded-even {
  background-color: aliceblue;
}
.ep-accordion-menu .ep-accordion-expanded.ep-accordion-expanded-even {
  background-color: aliceblue;
}
.ep-accordion-menu-animate {
  -webkit-transition: .5s linear all;
  /* Chrome */
  transition: .5s linear all;
}
.ep-accordion-menu .list-group-submenu {
  max-height: 2500px;
}
.ep-accordion-menu .list-group-submenu.collapsed {
  max-height: 0px;
}
.ep-accordion-menu .col-xs-10,
.ep-accordion-menu .col-xs-12 {
  padding-left: 0 !important;
}
.ep-accordion-menu form {
  padding: 5px;
}
.ep-vertical-align-center {
  display: flex;
  align-items: center;
}

.ep-relative {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .ep-action-owner {
    display: block;
    line-height: inherit !important;
    padding-right: 40px !important;
  }
  .ep-actionset {
    display: block !important;
    background-color: transparent !important;
    /*color:#00ff21;*/
  }
  .ep-actionset.ep-actionset-right-down {
    bottom: -30px !important;
    height: 40px !important;
    width: 40px !important;
  }
  .ep-interactivity-sign {
    line-height: 100% !important;
    height: 100% !important;
  }
  #ep-actions-menu-ctr,
  .edd-overlay-ctr {
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 3000;
    background-color: rgba(48, 60, 67, 0.7);
    /*
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
        */
  }
  .ep-actions-menu {
    border-top: 1px solid #8b969b;
    background-color: #fff;
    top: auto !important;
    right: auto !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
  }
  /*  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus*/
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item:hover,
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item:focus,
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item:active {
    background-color: #dfe5e8 !important;
  }
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item {
    color: #556065;
    display: block;
    padding: 0 0 0 20px !important;
    font-size: 16px !important;
    white-space: normal !important;
  }
  .ep-actions-menu-item:focus,
  .ep-actions-menu-item:hover {
    background-color: #dfe5e8;
    cursor: default;
  }
  .ep-actions-menu-item.separate {
    border-top: 1px solid #b9c8ce;
  }
  .ep-actions-menu-item {
    /*  line-height: 60px;*/
    color: #54666f;
  }
  .ep-actions-menu-item-mobile {
    display: block;
  }
  .ep-actions-menu-item-separator {
    margin: 0 10px !important;
    border-bottom: 1px dotted #ddd !important;
  }
  .ep-actions-menu-item .icon {
    font-size: 20px;
    width: 30px;
  }
  .ep-actions-menu-item span {
    line-height: 50px;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  #ep-actions-menu-ctr {
    position: absolute;
    color: black;
    z-index: 1000;
  }
  .ep-actions-menu {
    /*  border-top: 1px solid #8b969b;*/
    background-color: #fff;
  }
  .ep-actions-menu-item {
    font-size: 14px;
  }
  .ep-actions-menu-item-mobile {
    display: none;
  }
  .ep-actions-menu-item .icon {
    margin-right: 10px;
    width: 30px;
  }
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item {
    display: block;
    padding-left: 10px !important;
  }
  .ep-actionset.ep-actionset-right-down {
    right: -20px;
    height: 10px;
  }
}
.ep-action-owner:hover .ep-actionset {
  display: block;
}
.ep-actionset {
  background-color: #fff;
  display: none;
}
.ep-actionset-visible {
  display: block !important;
}
.ep-actionset-right-down {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-actionset-right-center {
  position: absolute;
  top: 20%;
  right: -20px;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-actionset-right-bottom {
  position: absolute;
  bottom: 0;
  right: -20px;
  height: 10px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-actions-menu-item-separator {
  height: 1px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  margin: 5px 10px;
}
#ep-actions-menu-ctr .dropdown-menu {
  display: block !important;
}
.dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item {
  white-space: nowrap !important;
  overflow: hidden;
  cursor: pointer;
}
.ep-interactivity-sign-float-right {
  float: right;
}
.ep-interactivity-sign.active,
.ep-interactivity-sign:active {
  color: red !important;
}
.ep-interactivity-sign {
  line-height: 100% !important;
  height: 100% !important;
  position: relative;
  text-align: center;
}
.ep-interactivity-sign .icon {
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  width: 100%;
  margin-top: -6px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-interactivity-sign.active {
  color: red;
}

div.ep-binding-label {
  /*padding-left: 5px;*/
}
.ep-binding-label label {
  text-align: left;
  width: 100%;
  padding-left: 0px;
}
.ep-binding-label.ep-label-editor {
  padding-top: 8px;
}
/* the scroll up in a dialog had issues when z-index was set to 2*/
.ep-binding .pagination > .active > a {
  z-index: 0;
}
.ep-binding-label .ep-required-indicator {
  padding-left: 3px;
  font-size: 6px;
  vertical-align: super;
  position: relative;
}

.card {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #000000;
  border: 1px solid #808080;
  border-radius: .8rem;
  padding: 10px;
}
.card-inverse {
  color: #ffffff;
}
.card-primary {
  background-color: #808080;
  border-color: #808080;
}
.card-title {
  margin-bottom: .75rem;
}
.card-block {
  color: #000000;
  margin-bottom: .75rem;
  padding: 5px;
}
.card-block-contrast {
  background-color: #909090;
}
.card-responsive {
  max-width: 100%;
  max-height: 100%;
}

.ep-chart-c3 .ep-chart-div {
  background-color: white;
  height: 100%;
}
.ep-chart-c3 .ep-chart-div #chartc3 {
  min-height: 80px;
  width: 100%;
}
.ep-chart-c3 .c3-axis-y-label,
.ep-chart-c3 .c3-axis-x-label {
  font-weight: bold;
}
.ep-chart-c3 .ep-fadein-animation.ng-enter {
  transition: 0.8s linear all;
  opacity: 0;
}
.ep-chart-c3 .ep-fadein-animation.ng-enter-active {
  transition: 0.8s linear all;
  opacity: 1;
}
.ep-chart-c3 .ep-legend-off {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
}
.ep-chart-c3 .popover {
  top: 50px !important;
}
.ep-chart-c3 .ep-c3-legend-btn {
  margin-right: 10px;
}
@media screen and (max-width: 400px) {
  .ep-chart-c3 .ep-opt-legend-hidden {
    display: none;
  }
}
.ep-chart-c3 .ep-chart-c3-legends {
  height: 200px;
  width: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}
.ep-chart-c3 .ep-chart-c3-legends button {
  margin-top: 4px;
}
.ep-chart-c3 .c3-tooltip {
  color: dimgrey;
}

.ep-color-selector-container .btn {
  background-color: #F5F5F5;
}
.ep-color-selector-container .btn span {
  color: #000;
  display: inline-block;
}
.ep-color-selector-container .colorpicker-position-top.dropdown,
.ep-color-selector-container .colorpicker-position-bottom.dropdown {
  right: 0 !important;
  left: auto !important;
}
.ep-color-selector-container .colorpicker-position-left.dropdown {
  right: 50px !important;
  left: auto !important;
}
.ep-color-selector-container .colorpicker-position-right.dropdown {
  left: 50px !important;
}
.ep-color-selector-container .colorpicker-position-top .dropdown-menu:before,
.ep-color-selector-container .colorpicker-position-bottom .dropdown-menu:before {
  left: auto;
  right: 15px;
}
.ep-color-selector-container .colorpicker-position-top .dropdown-menu:after,
.ep-color-selector-container .colorpicker-position-bottom .dropdown-menu:after {
  left: auto;
  right: 16px;
}
.ep-color-selector-container .colorpicker-position-left .dropdown-menu:before {
  left: auto;
  right: -6px;
}
.ep-color-selector-container .colorpicker-position-left .dropdown-menu:after {
  left: auto;
  right: -5px;
}

.ep-color-tile {
  position: relative;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.ep-color-tile h3 {
  margin-top: 0;
}
.ep-color-tile-icon {
  position: absolute !important;
  top: 10px;
  right: 15px;
  font-size: 30px;
  opacity: 0.3;
}
.bg-red {
  background-color: #fe402b;
}
.bg-orange {
  background-color: #D9853B;
}
.bg-yellow {
  background-color: #ffc545;
}
.bg-blue {
  background-color: #4dd4fd;
}
.bg-green {
  background-color: #9ad268;
}

.ep-hover-none {
  text-decoration: none !important;
}
.ep-border-none {
  border: none !important;
}
.ep-background-img {
  width: 100%;
  height: 100%;
}
.ep-background-img-lightest {
  width: 100%;
  height: 100%;
  opacity: .4;
}
.ep-background-img-medium {
  width: 100%;
  height: 100%;
  opacity: .7;
}
img.ep-background-img,
img.ep-background-img-lightest,
img.ep-background-img-medium {
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.ep-background-img-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}
/* Logo */
.ep-logo-upper-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.ep-transparent-black-lighter {
  background: rgba(0, 0, 0, 0.3) !important;
}
.ep-transparent-black {
  background: rgba(0, 0, 0, 0.5) !important;
}
.ep-transparent-black-darker {
  background: rgba(0, 0, 0, 0.7) !important;
}
.ep-transparent-white-lighter {
  background: rgba(255, 255, 255, 0.3) !important;
}
.ep-transparent-white {
  background: rgba(255, 255, 255, 0.5) !important;
}
.ep-transparent-white-darker {
  background: rgba(255, 255, 255, 0.7) !important;
}
.ep-white {
  color: white !important;
}
.ep-red {
  color: red !important;
}
.ep-black {
  color: black !important;
}
.btn-round {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
  outline: none !important;
}
.btn-round.btn-lg {
  width: 48px !important;
  height: 48px !important;
}
.btn-round.btn-sm {
  width: 34px !important;
  height: 34px !important;
}
.btn-round.btn-xs {
  width: 24px !important;
  height: 24px !important;
}
.ep-ease-animation {
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ep-hide-fade.ng-hide-add,
.ep-hide-fade.ng-hide-remove {
  display: block!important;
}
.ep-hide-fade.ng-hide-add.ng-hide-add-active,
.ep-hide-fade.ng-hide-remove {
  opacity: 0;
}
.ep-hide-fade.ng-hide-add,
.ep-hide-fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.ep-clickable {
  cursor: pointer;
}
.ep-padding {
  padding: 10px;
}
.ep-padding-large {
  padding: 20px;
}
.ep-padding-top,
.ep-padding-vertical {
  padding-top: 10px;
}
.ep-padding-right,
.ep-padding-horizontal {
  padding-right: 10px;
}
.ep-padding-bottom,
.ep-padding-vertical {
  padding-bottom: 10px;
}
.ep-padding-left,
.ep-padding-horizontal {
  padding-left: 10px;
}
/* Utility - Padding Classes */
/* Padding 0px */
.ep-pad-all-0,
.ep-pad-none {
  padding: 0 !important;
}
.ep-pad-vert-0,
.ep-pad-top-0 {
  padding-top: 0 !important;
}
.ep-pad-horz-0,
.ep-pad-right-0 {
  padding-right: 0 !important;
}
.ep-pad-vert-0,
.ep-pad-bottom-0 {
  padding-bottom: 0 !important;
}
.ep-pad-horz-0,
.ep-pad-left-0 {
  padding-left: 0 !important;
}
/* Padding 5px */
.ep-pad-all-5 {
  padding: 5px !important;
}
.ep-pad-vert-5,
.ep-pad-top-5 {
  padding-top: 5px !important;
}
.ep-pad-horz-5,
.ep-pad-right-5 {
  padding-right: 5px !important;
}
.ep-pad-vert-5,
.ep-pad-bottom-5 {
  padding-bottom: 5px !important;
}
.ep-pad-horz-5,
.ep-pad-left-5 {
  padding-left: 5px !important;
}
/* Padding 10px */
.ep-pad-all-10 {
  padding: 10px !important;
}
.ep-pad-vert-10,
.ep-pad-top-10 {
  padding-top: 10px !important;
}
.ep-pad-horz-10,
.ep-pad-right-10 {
  padding-right: 10px !important;
}
.ep-pad-vert-10,
.ep-pad-bottom-10 {
  padding-bottom: 10px !important;
}
.ep-pad-horz-10,
.ep-pad-left-10 {
  padding-left: 10px !important;
}
/* Padding 15px */
.ep-pad-all-15 {
  padding: 15px !important;
}
.ep-pad-vert-15,
.ep-pad-top-15 {
  padding-top: 15px !important;
}
.ep-pad-horz-15,
.ep-pad-right-15 {
  padding-right: 15px !important;
}
.ep-pad-vert-15,
.ep-pad-bottom-15 {
  padding-bottom: 15px !important;
}
.ep-pad-horz-15,
.ep-pad-left-15 {
  padding-left: 15px !important;
}
/* Padding 20px */
.ep-pad-all-20 {
  padding: 20px !important;
}
.ep-pad-vert-20,
.ep-pad-top-20 {
  padding-top: 20px !important;
}
.ep-pad-horz-20,
.ep-pad-right-20 {
  padding-right: 20px !important;
}
.ep-pad-vert-20,
.ep-pad-bottom-20 {
  padding-bottom: 20px !important;
}
.ep-pad-horz-20,
.ep-pad-left-20 {
  padding-left: 20px !important;
}
/* Utility - Margin Classes */
/* Margin 0px */
.ep-margin-all-0,
.ep-margin-none {
  margin: 0 !important;
}
.ep-margin-vert-0,
.ep-margin-top-0 {
  margin-top: 0 !important;
}
.ep-margin-horz-0,
.ep-margin-right-0 {
  margin-right: 0 !important;
}
.ep-margin-vert-0,
.ep-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.ep-margin-horz-0,
.ep-margin-left-0 {
  margin-left: 0 !important;
}
/* Margin 5px */
.ep-margin-all-5 {
  margin: 5px !important;
}
.ep-margin-vert-5,
.ep-margin-top-5 {
  margin-top: 5px !important;
}
.ep-margin-horz-5,
.ep-margin-right-5 {
  margin-right: 5px !important;
}
.ep-margin-vert-5,
.ep-margin-bottom-5 {
  margin-bottom: 5px !important;
}
.ep-margin-horz-5,
.ep-margin-left-5 {
  margin-left: 5px !important;
}
/* Margin 10px */
.ep-margin-all-10 {
  margin: 10px !important;
}
.ep-margin-vert-10,
.ep-margin-top-10 {
  margin-top: 10px !important;
}
.ep-margin-horz-10,
.ep-margin-right-10 {
  margin-right: 10px !important;
}
.ep-margin-vert-10,
.ep-margin-bottom-10 {
  margin-bottom: 10px !important;
}
.ep-margin-horz-10,
.ep-margin-left-10 {
  margin-left: 10px !important;
}
/* Margin 15px */
.ep-margin-all-15 {
  margin: 15px !important;
}
.ep-margin-vert-15,
.ep-margin-top-15 {
  margin-top: 15px !important;
}
.ep-margin-horz-15,
.ep-margin-right-15 {
  margin-right: 15px !important;
}
.ep-margin-vert-15,
.ep-margin-bottom-15 {
  margin-bottom: 15px !important;
}
.ep-margin-horz-15,
.ep-margin-left-15 {
  margin-left: 15px !important;
}
/* Margin 20px */
.ep-margin-all-20 {
  margin: 20px !important;
}
.ep-margin-vert-20,
.ep-margin-top-20 {
  margin-top: 20px !important;
}
.ep-margin-horz-20,
.ep-margin-right-20 {
  margin-right: 20px !important;
}
.ep-margin-vert-20,
.ep-margin-bottom-20 {
  margin-bottom: 20px !important;
}
.ep-margin-horz-20,
.ep-margin-left-20 {
  margin-left: 20px !important;
}
/* Negative Margin Classes */
/* Negative Margin -5 */
.ep-margin-all-neg-5 {
  margin: -5px !important;
}
.ep-margin-top-neg-5 {
  margin-top: -5px !important;
}
.ep-margin-right-neg-5 {
  margin-right: -5px !important;
}
.ep-margin-bottom-neg-5 {
  margin-bottom: -5px !important;
}
.ep-margin-left-neg-5 {
  margin-left: -5px !important;
}
/* Negative Margin -10 */
.ep-margin-all-neg-10 {
  margin: -10px !important;
}
.ep-margin-top-neg-10 {
  margin-top: -10px !important;
}
.ep-margin-right-neg-10 {
  margin-right: -10px !important;
}
.ep-margin-bottom-neg-10 {
  margin-bottom: -10px !important;
}
.ep-margin-left-neg-10 {
  margin-left: -10px !important;
}
/* Negative Margin -15 */
.ep-margin-all-neg-15 {
  margin: -15px !important;
}
.ep-margin-top-neg-15 {
  margin-top: -15px !important;
}
.ep-margin-right-neg-15 {
  margin-right: -15px !important;
}
.ep-margin-bottom-neg-15 {
  margin-bottom: -15px !important;
}
.ep-margin-left-neg-15 {
  margin-left: -15px !important;
}
/* Negative Margin -20 */
.ep-margin-all-neg-20 {
  margin: -20px !important;
}
.ep-margin-top-neg-20 {
  margin-top: -20px !important;
}
.ep-margin-right-neg-20 {
  margin-right: -20px !important;
}
.ep-margin-bottom-neg-20 {
  margin-bottom: -20px !important;
}
.ep-margin-left-neg-20 {
  margin-left: -20px !important;
}
.ep-center-text {
  text-align: center !important;
}
.ep-center-item {
  /* The order of these transform rules is important, proceed with caution */
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateZ(0) translateX(-50%);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  margin-left: 50%;
}
.ep-align-hleft {
  float: left;
}
.ep-align-hcenter {
  display: table;
  margin: 0 auto;
}
.ep-align-hright {
  float: right;
}
.ep-align-vtop {
  position: relative;
}
.ep-align-vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.ep-align-vbottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}
/**Overriding font-awesome to work in windows devices*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Custom Icon font */
@font-face {
  font-family: 'ep-custom-icon';
  src: url('assets/ep.common/custom-fonts/ep-custom-icon.eot');
  src: url('assets/ep.common/custom-fonts/ep-custom-icon.eot#iefix') format('embedded-opentype'), url('assets/ep.common/custom-fonts/ep-custom-icon.ttf') format('truetype'), url('assets/ep.common/custom-fonts/ep-custom-icon.woff') format('woff'), url('assets/ep.common/custom-fonts/ep-custom-icon.svg#ep-custom-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ci-"],
[class*="-ci-"] {
  font-family: 'ep-custom-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ep-ci-updownarrow:before {
  content: "\e900";
}
.ep-ci-camera:before {
  content: "\e901";
}
.ep-ci-contact:before {
  content: "\e903";
}
.ep-ci-flashlight:before {
  content: "\e907";
}
.ep-ci-device-info:before {
  content: "\e908";
}
.ep-ci-internet-status:before {
  content: "\e909";
}
.ep-ci-location:before {
  content: "\e904";
}
.ep-ci-audio-media:before {
  content: "\e902";
}
.ep-ci-barcode:before {
  content: "\e905";
}
.ep-ci-vibrate:before {
  content: "\e906";
}
.ep-ci-network-status:before {
  content: "\e90b";
}
.ep-ci-calendar:before {
  content: "\e90a";
}
.ep-ci-offline-storage:before {
  content: "\e90c";
}
.ep-ci-gps-tracker:before {
  content: "\e90d";
}
.ep-ci-email-composer:before {
  content: "\e90e";
}

.ep-console-warning {
  color: orange;
}
.ep-console-error {
  color: orangered;
}
.ep-console-info {
  color: blue;
}

.ep-customize-active {
  background-color: bisque;
  border-style: dashed;
  overflow: auto;
}
.ep-drag-active {
  cursor: move;
  background-color: darkkhaki;
  border-style: dashed;
  border-color: black;
  opacity: 0.5;
}
.ep-customize-control-active {
  border: 1px dashed black;
  background-color: aliceblue;
  opacity: 0.7;
}

/* ----->>>> Pagination styling taken from dataTables.jqueryui.css -------------->>>>*/
/* commented out color - interferring with themes */
.dataTables_wrapper .dataTables_paginate {
  /*float: right;*/
  /* causes buttons overflow in dialogs*/
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  /*color: #333 !important;*/
  border: 1px solid transparent;
  border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  /*color: #333 !important;*/
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  /*color: #666 !important;*/
  border: 1px solid transparent;
  /*background: transparent;*/
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  /*color: white !important;*/
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
/* -----<<<< Pagination styling taken from dataTables.jqueryui.css --------------<<<<*/
/* Grid Search */
.ep-data-grid .ep-dg-grid-search {
  padding: 0;
  margin: 0;
  position: relative;
  /* needed for search-icon overlay */
}
.ep-data-grid #gridSearch.hide {
  visibility: hidden;
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-input {
  padding-right: 30px;
  margin-top: 1px;
  /* to align with config button */
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-input::-ms-clear {
  display: none;
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-icon-overlay {
  position: absolute;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-left: -25px;
  margin-top: 5px;
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-icon-overlay.invisible {
  visibility: hidden;
}
.ep-data-grid .dataTables_scrollBody > div {
  display: none;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td {
  cursor: pointer;
  white-space: normal;
}
.ep-data-grid .ep-dg-grid-table > thead > tr > th {
  white-space: nowrap;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td,
.ep-data-grid .ep-dg-grid-table > thead > tr > th {
  overflow: hidden;
  border-collapse: collapse;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 400px;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td.active {
  font-weight: bold;
  border: 2px dotted #888;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td.fixed,
.ep-data-grid .ep-dg-grid-table > thead > tr > th.fixed {
  /*border-left: none;
    border-right: none;*/
  min-width: 18px;
  max-width: 36px !important;
  width: 18px;
}
.ep-data-grid .row-alert {
  max-width: 800px;
  white-space: normal;
}
.ep-data-grid div.dataTables_scrollBody {
  -webkit-transform: translate3d(0, 0, 0);
}
.ep-data-grid div.dataTables_scroll {
  height: 80%;
  height: -moz-calc(100% - 80px);
  height: -webkit-calc(100% - 80px);
  height: -o-calc(100% - 80px);
  height: calc(100% - 80px);
}
.ep-data-grid .inline-link {
  margin: 0 10px 0 5px;
}
.ep-data-grid .ep-dg-grid-table > thead > tr > th {
  min-width: 36px;
}
.ep-data-grid table.dataTable thead .sorting,
.ep-data-grid table.dataTable thead .sorting_asc,
.ep-data-grid table.dataTable thead .sorting_desc {
  /*background-color: #888;*/
  cursor: pointer;
}
/*.ep-data-grid table.dataTable thead .sorting {
    background: url('assets/ep.datagrid/sort_both.png') no-repeat center right;
}

.ep-data-grid table.dataTable thead .sorting_asc {
    background: url('assets/ep.datagrid/sort_asc.png') no-repeat center right;
}

.ep-data-grid table.dataTable thead .sorting_desc {
    background: url('assets/ep.datagrid/sort_desc.png') no-repeat center right;
}*/
.ep-data-grid #tblGridView {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
/* Bootstrap sets the max-width of the table element to 100%, which disables horizontal scrolling in safari. */
.ep-data-grid table {
  max-width: initial;
}
.ep-data-grid table.dataTable tbody tr {
  color: inherit;
}
.ep-data-grid .dataTables_processing {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  background: #fff;
  font-size: 15px !important;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.ep-data-grid .table.ep-dg-grid-table {
  overflow: hidden;
  margin: 0;
}
.ep-data-grid .ep-dg-grid-table > tr:nth-child(even) > td {
  background-color: #fdfdfd;
  border: #ededed solid 1px;
}
.ep-data-grid .load-more {
  text-align: center;
}
.ep-data-grid .load-more-cell {
  width: 1px;
  padding: 0 10px;
  white-space: nowrap;
}
.ep-data-grid .bootstrap-tagsinput {
  width: 100%;
}
.ep-data-grid .typeahead,
.ep-data-grid .tt-query,
.ep-data-grid .tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.ep-data-grid .typeahead {
  background-color: #fff;
}
.ep-data-grid .typeahead:focus {
  border: 2px solid #0097cf;
}
.ep-data-grid .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ep-data-grid .tt-hint {
  color: #999;
}
.ep-data-grid .tt-input {
  width: 100%;
}
.ep-data-grid .tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ep-data-grid .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.ep-data-grid .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.ep-data-grid .tt-suggestion p {
  margin: 0;
}
/*------------------- DRILL THROUGH ------------------------------- -->>>>>>*/
.drill-header::before {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  content: "\f08e";
  margin-left: 5px;
  margin-right: 5px;
}
.drill-cell > .drill-icon + .right-align {
  display: inline;
  float: right;
}
.drill-cell > .drill-icon + a {
  display: inline;
}
.drill-cell > .drill-icon {
  padding-right: 0px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.drill-cell:hover > .drill-icon {
  padding-right: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.drill-cell > .drill-icon::before {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 5px;
  content: "\f08e";
  cursor: pointer;
  position: absolute;
  margin-left: 0px;
  margin-top: 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.drill-cell:hover > .drill-icon::before {
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/*------------------- NEW GRID ------------------------------- -->>>>>>*/
.ep-data-grid .ep-datagrid-filter-row .ep-hide-filter-col {
  width: 0;
  grid-column-span: 1;
  grid-row-span: 1;
}
.ep-data-grid .ep-datagrid-filter-row .ep-datagrid-filter-header {
  padding: 2px !important;
}
.ep-data-grid .ep-datagrid-filter-row .ep-datagrid-filter-header .ep-datagrid-filter-op {
  vertical-align: top;
  padding-top: 0.2em;
  min-width: 40px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.ep-data-grid .ep-datagrid-filter-row .ep-datagrid-filter-op .ep-datagrid-filter-text {
  margin-top: 0.5em;
}
.ep-data-grid .ep-dg-progressIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
.ep-data-grid #dataGridTable {
  max-width: initial;
}
/* to enable grid row rules must overwrite setting of dataTables.jqueryui.css */
.ep-data-grid table.dataTable {
  border-collapse: collapse;
}
.ep-data-grid .ep-datagrid-header-section {
  min-height: 20px;
  text-align: center;
  margin: 2px;
}
.ep-data-grid .ep-datagrid-footer-section {
  min-height: 20px;
  text-align: center;
  margin: 2px;
}
.ep-dg-config {
  padding: 0px;
  padding-right: 3px;
  background-color: transparent;
  margin: 0px;
}
.ep-dg-config.input-group-addon {
  padding: 0px 1px 0px 0px;
}

.ep-dock-panel {
  position: relative;
  height: 100%;
  display: flex;
}
.ep-dock-panel > div {
  display: flex;
  flex-wrap: wrap;
}
.ep-dock-panel-top {
  flex: 0 0 0;
  order: 1;
}
.ep-dock-panel-left {
  flex: 0 0 0;
  order: 1;
}
.ep-dock-panel-cross-axis {
  flex: 0 0 0;
  order: 2;
  display: flex;
}
.ep-dock-panel-center {
  flex: 0 0 0;
  order: 2;
  margin: auto;
}
.ep-dock-panel-right {
  flex: 0 0 0;
  order: 3;
}
.ep-dock-panel-bottom {
  flex: 0 0 0;
  order: 3;
}

.ep-drop-active.ep-drop-highlight {
  opacity: 0.5;
  border: 1px dashed darkblue;
}

.ep-dropdown-btn .ep-dropdown-btn-chk {
  margin-right: 2px;
}

#appHost {
  height: 100%;
}
#splash {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#splashContainer {
  width: 100%;
  text-align: center;
}

.ep-search-list-container {
  position: relative;
  width: 100%;
  background-color: #d6d6d6;
  z-index: 3;
  height: 50px;
  padding: 8px;
}
.ep-search-list-container .fa-search {
  position: absolute;
  top: 10px;
}
.ep-search-list-container .ep-cicrm-delete {
  position: absolute;
  top: 13px;
  right: 25px;
  font-size: 10px;
}
.ep-search-list-container input {
  padding: 6px 30px;
}
.ep-search-list-container .result-count-container {
  padding-left: 0 !important;
}

.ep-icon-selector-container .icon-filter-field {
  width: 100%;
  position: absolute;
  height: 40px;
  padding: 0 10%;
  background-color: #ddd;
}
.ep-icon-selector-container .dropdown-menu {
  width: 295px;
}
.ep-icon-selector-container .icon-list {
  margin-top: 40px;
  max-height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
.ep-icon-selector-container .icon-list li {
  list-style-type: none;
  padding: 5px 25px 5px 15px;
}
.ep-icon-selector-container .icon-list li:hover {
  cursor: pointer;
  background-color: #F5F5F5;
  font-weight: bold;
}
.ep-icon-selector-container .icon-list li span {
  padding-right: 5px;
}
.ep-icon-selector-container .input-group-btn .btn {
  background-color: #F5F5F5;
}

.ep-list-container {
  position: absolute;
  width: 100%;
}
.ep-list-container li {
  list-style-type: none;
}
.ep-list {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 80px);
  position: absolute;
  width: 100%;
  padding-left: 0px;
  margin-top: 50px;
  top: 0;
  border-left: solid 1px #eee;
  border-right: solid 1px #eee;
}
.ep-list li {
  border-bottom: 1px solid #eee;
}
.ep-list-directory-item.active {
  background: #fff;
}
.ep-list-item-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 0;
}
.ep-list-item-title {
  font-weight: bold;
}
.ep-list-item-content .ep-list-item-text {
  flex: 5 0 auto;
  width: 60%;
  padding-left: 10px;
}
.ep-list-item-content .ep-list-item-details {
  flex: 2 0 auto;
  width: 30%;
  font-size: 13px;
  text-align: right;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .ep-list-item-details {
    padding-right: 20px !important;
  }
}
.ep-list-item-content .ep-list-item-decorator {
  flex: 0 0 auto;
  margin: auto 0;
}
.ep-list.ep-header-visible {
  margin-top: 90px;
  height: calc(100vh - 160px);
}
.ep-group-heading {
  font-weight: bold;
  background: #eee;
  line-height: 32px;
  height: 33px;
  border-left: solid 3px #bcbcbc;
  padding-left: 6px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.ep-list-directory {
  position: absolute;
  right: 0;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  width: 20px;
  top: 50px;
  height: calc(100vh - 80px);
  z-index: 10;
}
@media (max-height: 680px) {
  .ep-list-directory {
    font-size: 10px;
  }
}
.ep-list-directory.ep-header-visible {
  top: 90px;
  height: calc(100vh - 160px);
}
.ep-list-directory-item {
  flex: 1 100%;
}
.ep-list-directory-item .ep-list-directory-item-enabled {
  cursor: pointer;
}
.ep-list-directory a {
  text-decoration: none !important;
  font-weight: bold;
  color: #008ddd;
}
.ep-list-directory li {
  color: #129ff4;
  font-weight: bold;
}
.ep-list-directory.small-index-list {
  display: none;
}
.ep-list-directory.small-index-list li {
  line-height: 4vh;
}
.ep-list-directory .fa-circle {
  font-size: 8px;
}
#ep-list-search {
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  width: 90%;
}
.ep-list-search-container {
  position: absolute;
  width: 100%;
  background-color: #CAC9CE;
  z-index: 999;
  height: 50px;
  padding-left: 5%;
  top: 0;
}
.ep-list-search-container .glyphicon {
  position: absolute;
  left: 10px;
  top: 17px;
  padding-left: 5%;
}
.ep-list-id {
  float: right;
  margin-right: 12%;
}
.ep-list-arrow {
  padding-top: 2px;
  margin-right: 30px;
}
.ep-list-subtitle {
  margin-top: 15px;
}
.ep-list-sub-header {
  background-color: #f3f3f3;
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.ep-list-sub-header label {
  width: 60px;
  font-size: 14px;
  color: #0379bc;
}
.ep-list-inner .mainTitle,
.ep-list-inner .subTitle,
.ep-list-inner .additionalTitle,
.ep-list-inner .otherAdditionalTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ep-list-inner .statuses {
  position: absolute;
  top: 10px;
  right: 40px;
}
.ep-list-inner .statuses .status {
  height: 20px;
}
/* workaround for modal dialogs ep-list are overflowing */
.ep-modal-window .ep-modaldialog-custom .dialog-area {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: fixed !important;
  overflow: hidden !important;
}
.ep-list-modal-dialog .ep-modal-header {
  padding: 10px 10px 0 10px;
  border: none;
}
.ep-list-modal-dialog .ep-list-container,
.ep-list-modal-dialog .ep-contacts-list-container {
  height: calc(20%);
  width: calc 90%;
  position: relative !important;
}
.ep-list-modal-dialog .ep-modal-area {
  padding-left: 10px !important;
  padding-right: 10px !important;
  /*position:fixed !important;*/
  overflow: hidden !important;
}
.ep-list-modal-dialog .ep-list {
  padding-bottom: 97px;
}
.ep-list-modal-dialog .ep-list-directory {
  padding-bottom: 100px;
}
@media (max-width: 350px) {
  .ep-list-modal-dialog .ep-list-directory {
    padding-bottom: 100px;
    font-size: 9px;
  }
  .ep-list-modal-dialog .ep-list-item-text {
    width: 50%;
  }
  .ep-list-modal-dialog .ep-list-item-details {
    width: 25%;
  }
  .ep-list-modal-dialog .ep-list-item-details {
    width: 10%;
  }
  .ep-list-item-text {
    width: 50%;
  }
  .ep-list-item-details {
    width: 25%;
  }
  .ep-list-item-details {
    width: 10%;
  }
}
@media (max-height: 400px) {
  .ep-list-modal-dialog .ep-list-directory {
    display: none;
  }
  .ep-list-directory {
    display: none;
  }
}
.ep-list-modal-dialog .ep-index-list {
  padding-top: 50px;
}
.ep-list-modal-dialog .ep-modal-list-arrow {
  padding-top: 3px;
}
.ep-list-modal-dialog .ep-modal-footer {
  z-index: 14;
  position: fixed;
}
.ep-list-filter-indicator {
  color: #f23306;
  margin-left: 5px;
  font-size: 12px;
  position: absolute;
}

.ep-context-menu {
  /*properties can be specified if needed*/
}
.ep-hover-context-menu {
  /* parent class for the context menu.
	To be supplied in case context menu has to be displayed on hover */
}
.ep-hover-context-menu:hover .ep-actionset {
  display: inline-block;
}
.ep-interactivity-context-menu {
  text-align: center;
  line-height: 100% !important;
}
@media only screen and (max-width: 768px) {
  .ep-context-menu-owner {
    display: block;
    line-height: inherit !important;
  }
}

@media only screen and (max-width: 768px) {
  #ep-dynamic-menu,
  .edd-overlay-ctr {
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 3000;
    background-color: rgba(48, 60, 67, 0.7);
  }
}
@media only screen and (min-width: 768px) {
  #ep-dynamic-menu {
    position: absolute;
    color: black;
    z-index: 1000;
  }
}
#ep-dynamic-menu .dropdown-menu {
  display: block !important;
}

.ep-modaldialog .ep-dlg-buttons {
  width: 100%;
  min-height: 30px;
}
.ep-modaldialog .ep-dlg-buttons button {
  margin-right: 7px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
}
.ep-modaldialog .ep-dlg-spinner-text.ep-timer-large-font {
  font-size: smaller;
}
.ep-modaldialog .ep-dlg-spinner-text.ep-timer-small-font {
  font-size: small;
}
/* modaldialog-pane.html */
.ep-modaldialog.ep-modaldialog-pane {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-container {
  top: 35%;
  color: white;
  position: relative;
  width: 100%;
  padding: 20px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center {
  position: relative;
  left: 10%;
  width: 80%;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-icon {
  margin-right: 10px;
  margin-top: 5px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-title {
  letter-spacing: -1px;
  font-size: 24px;
  font-weight: 300;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-message {
  font-size: 18px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-progress-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-progress-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
@media (max-width: 480px) {
  .ep-modaldialog.ep-modaldialog-pane .ep-dlg-container {
    padding: 20px 0 20px 0;
  }
  .ep-modaldialog.ep-modaldialog-pane .ep-dlg-center {
    left: 5%;
    width: 90%;
  }
}
@media (min-width: 800px) {
  .ep-modaldialog.ep-modaldialog-pane .ep-dlg-progress-indicator {
    padding-left: 250px;
  }
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center {
  position: relative;
  left: 10%;
  width: 80%;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center .ep-dlg-title {
  letter-spacing: -1px;
  font-size: 24px;
  font-weight: 300;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center .ep-dlg-message {
  font-size: 18px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-rememberMe label {
  display: inline-block;
  margin-top: 3px;
  margin-left: 3px;
  font-weight: normal;
}
/* not sure if these are needed...
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center input {
    width: 50%;
    padding: 5px;
}

.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center select {
    width: 50%;
    padding: 5px;
}
*/
/* modaldialog-custom.html */
.ep-modaldialog.ep-modaldialog-custom {
  height: 100%;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header .modal-title {
  min-height: 40px;
  padding: 8px 0 0 8px;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header .ep-dlg-title-icon {
  vertical-align: middle;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header .ep-dlg-title {
  padding-left: 8px;
  display: inline-block;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header span.help,
.ep-modaldialog.ep-modaldialog-custom .modal-header span.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header span.help a,
.ep-modaldialog.ep-modaldialog-custom .modal-header span.close a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px 5px 5px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-modal-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  border: none;
}
.ep-modaldialog.ep-modaldialog-custom .ep-modal-area {
  overflow-y: auto;
  max-height: 85vh;
  padding-left: 10px;
  padding-right: 10px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.ep-modaldialog.ep-modaldialog-custom .modal-footer .btn {
  min-width: 70px;
  /*so that btn is not too small*/
  margin-bottom: 5px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-status .modal-title {
  min-height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-status h4 {
  padding: 10px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-rememberMe {
  padding-left: 0;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-rememberMe label {
  display: inline-block;
  margin-top: 3px;
  margin-left: 3px;
  font-weight: normal;
}
.ep-modaldialog.ep-modaldialog-custom .modal-body {
  /*padding-bottom: 0;*/
}
/* modaldialog-error.html */
.ep-dialog-alert {
  overflow: auto;
}
.ep-modaldialog .ep-modaldialog-error .ep-dlg-bodytable {
  background-color: transparent;
  /*because some themes apply table backrground*/
}
.ep-modaldialog .ep-modaldialog-error .ep-message-details textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
}
.ep-modaldialog .ep-modaldialog-error .ep-dlg-message {
  display: block;
  padding: 5px;
  overflow: auto;
}
.ep-modaldialog .ep-modaldialog-error .ep-dlg-icon {
  display: block;
}
.ep-modaldialog .ep-modaldialog-error.ep-error-dialog {
  padding: 5px 0px 0px 0px;
}
.ep-modal-window .modal-dialog {
  position: relative;
  max-height: 85%;
}
.ep-modal-window .modal-content {
  position: relative;
  height: 100%;
}
/* modal dialog size. fullscreen class or responsive to fullscreen */
@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .ep-modal-window .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-height: 100%;
  }
  .ep-modal-window .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    overflow: auto;
    width: 100%;
  }
  .ep-modaldialog.ep-modaldialog-custom .ep-modal-area {
    overflow-y: auto;
    max-height: 100%;
    padding-bottom: 80px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ep-modaldialog .ep-modaldialog-error .my-error-dialog {
    padding: 65px 20px 20px 20px;
  }
}
.ep-modal-window.ep-fullscreen .modal-dialog {
  position: fixed;
  width: 100%;
  height: 100% !important;
  padding: 0;
  margin: 0;
  max-height: 100%;
}
.ep-modal-window.ep-fullscreen .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  overflow: auto;
  width: 100%;
}
.ep-modal-window.ep-fullscreen .ep-modal-area {
  height: 100%;
  max-height: 100%;
}
/* modaldialog-loading.html */
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog {
  width: 300px !important;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #fff;
}
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog .ep-dlg-title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #2b8aca;
  margin: 0 0 5px!important;
}
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog .ep-dlg-icon {
  text-align: center;
  color: #2b8aca;
  width: 100%;
}
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog .ep-dlg-message {
  font-size: 14px;
  display: block;
  text-align: center;
  color: #434343;
  margin: 5px 0 0 !important;
}

.ep-mlm-container {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  width: 100%;
}
/* MLM Search */
.ep-mlm-container .ep-mlm-search {
  margin: 8px;
  position: relative;
}
.ep-mlm-container .ep-mlm-search-cancel {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  opacity: .5;
  cursor: pointer;
}
/* Hide the buggy cancel icon on the search input in IE because we show our own*/
.ep-mlm-container .ep-mlm-search-input::-ms-clear {
  display: none;
}
.ep-mlm-container .ep-mlm-search-input {
  border-radius: 8px !important;
  width: 100% !important;
  max-width: 220px !important;
}
.ep-mlm-container .ep-mlm-search-icon {
  position: relative;
  left: 220px;
  top: 14px;
  background-color: white;
  color: black;
}
.ep-mlm-container .ep-mlm-alert {
  margin-left: 8px;
  margin-right: 8px;
}
/* MLM Content */
.ep-mlm-container.ep-mlm-content {
  position: relative;
  width: 100%;
  padding-bottom: 48px;
}
.ep-mlm-container .ep-mlm-header {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ep-mlm-container li {
  padding: 0;
  margin: 0;
  text-indent: 8px;
  line-height: 40px;
  list-style-type: none;
  white-space: nowrap;
}
.ep-mlm-container li a {
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ep-mlm-container ul {
  padding-left: 0;
}
.ep-mlm-container li a:active,
.ep-mlm-container li a:focus {
  text-decoration: none;
}
.ep-mlm-container .ep-mlm-back-button {
  cursor: pointer;
  padding-top: 4px;
}
.ep-mlm-container .ep-mlm-list {
  margin-left: 15px;
}
.ep-mlm-container .pointer {
  cursor: pointer;
}
.ep-mlm-container .ep-mlm-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.ep-mlm-container .ep-mlm-item .ep-mlm-item-div {
  width: 80%;
  /* for browsers not supporting calc */
  width: -moz-calc(100% - 65px);
  width: -webkit-calc(100% - 65px);
  width: -o-calc(100% - 65px);
  width: calc(100% - 65px);
}
.ep-mlm-container .ep-mlm-item .ep-mlm-item-div.ep-mlm-item-div-icon {
  width: 65%;
  /* for browsers not supporting calc */
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  width: -o-calc(100% - 80px);
  width: calc(100% - 80px);
}
.ep-mlm-container .ep-mlm-item-text {
  width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ep-mlm-container .ep-mlm-favorite {
  line-height: 40px;
  padding-right: 10px;
}
.ep-mlm-container .ep-mlm-favorite.gold {
  color: gold;
}
.ep-mlm-container .ep-mlm-separator-top {
  width: 100%;
  min-height: 5px;
  background-color: dimgray;
}
.ep-mlm-container .ep-mlm-icon {
  line-height: 40px;
  padding-right: 0px;
}
.ep-mlm-container .ep-mlm-separator-text {
  font-weight: bold;
  color: ghostwhite;
  height: 40px;
}
.ep-mlm-container .ep-mlm-separator-icon {
  padding-top: 13px;
  color: ghostwhite;
}
.ep-mlm-container .ep-mlm-separator {
  cursor: default;
}
.ep-mlm-container .ep-mlm-submenu {
  line-height: 40px;
  padding-right: 24px;
}
/* MLM Animations */
/* Fade-in the menu */
.ep-mlm-container .ep-fadein-animation.ng-enter,
.ep-mlm-container .ep-fadein-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.ep-mlm-container .ep-fadein-animation.ng-enter,
.ep-mlm-container .ep-fadein-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.ep-mlm-container .ep-fadein-animation.ng-enter.ng-enter-active,
.ep-mlm-container .ep-fadein-animation.ng-leave {
  opacity: 1;
}
/* Items slide in/slide out */
.ep-mlm-container .ep-repeat-animation.ng-enter,
.ep-mlm-container .ep-repeat-animation.ng-leave,
.ep-mlm-container .ep-repeat-animation.ng-move {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position: relative;
}
.ep-mlm-container.ep-left-to-right .ep-repeat-animation.ng-enter {
  left: -50px;
  opacity: 0;
}
.ep-mlm-container.ep-left-to-right .ep-repeat-animation.ng-leave.ng-leave-active {
  left: -50px;
  opacity: 0;
}
.ep-mlm-container.ep-right-to-left .ep-repeat-animation.ng-enter {
  left: 50px;
  opacity: 0;
}
.ep-mlm-container.ep-right-to-left .ep-repeat-animation.ng-leave.ng-leave-active {
  left: 50px;
  opacity: 0;
}
.ep-mlm-container .ep-repeat-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.ep-mlm-container .ep-repeat-animation.ng-leave {
  left: 0;
  opacity: 1;
}
.ep-mlm-container .ep-repeat-animation.ng-move {
  opacity: 0.5;
}
.ep-mlm-container .ep-repeat-animation.ng-move.ng-move-active {
  opacity: 1;
}

.ng-gallery {
  width: 100%;
  height: 100%;
  display: inline-block;
}
img.ng-thumb {
  height: 90px;
  width: 90px;
  float: left;
  display: block;
  cursor: pointer;
  margin: 6px 6px 2px 2px;
}
.ng-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  z-index: 9999;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.ng-gallery-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
}
.ng-gallery-content > a.close-popup {
  font-size: 42px !important;
  float: right !important;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0 30px 0 0 !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 20px !important;
  right: 0 !important;
}
.ng-gallery-content > a.rotate {
  font-size: 34px !important;
  float: right !important;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0 10px 0 0 !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 20px !important;
  right: 310px !important;
}
.ng-gallery-content > a.stop-rotate {
  font-size: 34px !important;
  float: left !important;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0 0 0 30px !important;
  cursor: pointer !important;
  position: absolute !important;
  top: 20px !important;
  left: 0 !important;
}
.ng-gallery-content > a.download-image {
  font-size: 42px;
  float: right;
  color: #fff;
  text-decoration: none;
  margin: 0 30px 0 0;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 63px;
}
.ng-gallery-content > a.nav-left,
.ng-gallery-content > a.nav-right {
  color: #fff;
  text-decoration: none;
  font-size: 60px;
  cursor: pointer;
  outline: none;
}
.ng-gallery-content > a.nav-left {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.ng-gallery-content > a.nav-right {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.ng-gallery-content > img {
  height: 50% !important;
  width: 75% !important;
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
.ng-gallery-content > img.effect {
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.ng-gallery-content > span.info-text {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 20px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
}
.ng-gallery-content > .ng-thumbnails-wrapper {
  width: 400px;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails {
  width: 4000px;
  height: 70px;
}
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img {
  width: auto;
  height: 70px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
}
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img:hover,
.ng-gallery-content > .ng-thumbnails-wrapper > .ng-thumbnails > div > img.active {
  transition: opacity 0.25s ease;
  opacity: 1;
}
/* Loading - from http://loading.io */
uiload {
  display: inline-block;
  position: relative;
}
uiload > div {
  position: relative;
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  top: 0;
  margin: 180px auto 0 auto;
  width: 100px;
  height: 100px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 20px;
  border-radius: 40px;
  box-shadow: 0 6px 0 0 #fff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
@media screen and (orientation: landscape) {
  .ng-gallery-content > img {
    height: 80% !important;
    width: 75% !important;
  }
}
@media only screen and (min-width: 768px) {
  .ng-gallery-content > img {
    height: 600px !important;
    width: 600px !important;
  }
}

.ep-record-editor {
  margin-left: 10px;
  /*margin-right: 30px;*/
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 500px) {
  .ep-record-editor {
    margin-left: 0;
  }
}
.ep-record-editor-column {
  min-width: 250px;
}
/* in modal dialogs (parameters) allow lesser size */
.ep-modal-window .ep-record-editor-column {
  min-width: 50px;
}
.ep-record-editor .ep-record-editor-container {
  /* width: 300px; */
  padding: 10px;
  margin-top: 8px;
  margin-right: 8px;
}
.ep-editor-control .ep-record-editor-container .input-group {
  width: 100%;
}
.ep-editor-control .ep-record-editor-container .ep-editor-label {
  display: block;
}
.ep-editor-control .ep-editor-checkbox {
  width: 100%;
  cursor: pointer;
}
/*.ep-editor-control .ep-editor-checkbox >span {
    padding: 14px;
}*/
.ep-editor-control .form-control.editor[disabled] {
  cursor: default;
}
.ep-editor-control.ep-editor-mode-mini {
  padding-left: 2px;
  padding-right: 2px;
}
.ep-editor-control.ep-editor-mode-mini input {
  /*border: none; if you set border none then we cannot highlight the error */
  outline: none;
}
.ep-editor-control.ep-editor-mode-mini .ep-record-editor-container {
  margin-bottom: 2px;
  margin-top: 2px;
}
/* ep-is-row-editor for "is-row" mode */
ep-editor-control .ep-record-editor-container.ep-is-row-editor {
  width: 100%;
}
/* make label vertically aligned inside the column */
.ep-editor-control .ep-record-editor-container .ep-div-editor-label {
  position: relative;
}
.ep-editor-control .ep-record-editor-container.ep-is-row-editor .ep-editor-label {
  padding-top: 10px;
  padding-left: 5px;
  position: absolute;
  /*transform: translateX(10%);*/
  text-align: left;
}
.ep-editor-control .ep-date-editor .ep-time-picker {
  padding: 0px;
  padding-left: 2px;
  width: 100px;
  top: 0px;
  border: 0px;
  background-color: transparent;
}
.ep-editor-control .ep-date-editor .ep-time-picker.ep-time-meridian {
  width: 140px;
}
.ep-editor-control .ep-date-editor .ep-time-picker .form-control {
  padding: 0px;
  min-width: 30px;
}
/* workaround for now beacuse with meridian the time cells are not aligned */
.ep-editor-control .ep-date-editor .form-control.editor.ep-time-meridian {
  margin-top: 1px;
}
/* workaround has-error making text invisible on control buttons */
.ep-editor-control .has-error .input-group-addon {
  color: initial;
}
@media screen and (max-width: 400px) {
  .ep-editor-control .ep-date-editor .ep-time-meridian.ep-time-new-line {
    float: left;
    padding-top: 5px;
    padding-left: 0;
  }
}
/* disabled and read-only */
.ep-editor-control .form-control[disabled],
.ep-editor-control .form-control[readonly],
.ep-editor-control fieldset[disabled] .form-control {
  opacity: 0.5;
}

.ep-shell .ep-shell-feedback-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 28px;
  z-index: 2000;
  background-color: lightgray;
  padding: 5px;
  border-radius: 2px 0 0 0;
  font-size: smaller;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-top: gray solid 1px;
  border-left: gray solid 1px;
}
.ep-shell .ep-fullscreen {
  height: 100%;
}
/**********************************************************
 Bootstrap NavBar Overrides
***********************************************************/
.ep-shell .right-button {
  float: right !important;
}
.ep-shell .nav > li > a {
  padding: 10px 5px;
}
.ep-shell .navbar-nav {
  margin: 0 5px 0 0 !important;
  float: none;
}
.ep-shell .navbar-nav.navbar-right:last-child {
  margin: 0 5px 0 0;
}
.ep-shell .navbar-sm.navbar-default {
  min-height: 25px;
  height: 40px;
}
.ep-shell .navbar-sm .navbar-header {
  min-height: 40px;
  height: 40px;
}
.ep-shell .navbar-sm .navbar-brand {
  padding: 10px 0 5px 0;
  height: 40px;
}
.ep-shell .navbar-sm .navbar-brand.fa {
  padding: 5px 5px;
  height: 40px;
}
.ep-shell .navbar-sm a {
  padding: 5px 5px;
  height: 40px;
  z-index: 50;
}
.ep-shell .navbar-sm .navbar-primary .navbar .navbar-brand {
  padding: 0 12px;
  line-height: 40px;
}
.ep-shell .navbar-sm .navbar-primary .navbar .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}
.ep-shell .navbar-sm .container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}
.ep-shell .navbar-xsm.navbar-default.navbar {
  min-height: 25px;
  height: 25px;
}
.ep-shell .ep-main-navbar .right-button.open .dropdown-menu {
  display: block;
}
.navbar-nav > li.ep-center-brand {
  float: none;
  z-index: 10;
}
a.ep-center-brand,
span.ep-center-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
#apptitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 767px) {
  .ep-shell .ep-main-navbar .right-button .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .ep-shell .ep-main-navbar .navbar-nav .open .dropdown-menu.align-right {
    left: inherit;
    right: -3px;
  }
  .ep-shell .ep-main-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #888888;
    padding-left: 8px;
  }
  .ep-shell .ep-main-navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #444444;
    color: #ffffff;
  }
}
.dropdown-menu > li > a {
  max-width: 200px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/**********************************************************
 NavBar Buttons / Menu
***********************************************************/
.ep-shell .ep-main-navbar .ep-navbar-button {
  padding: 10px 5px 5px 5px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0;
}
.ep-shell .ep-main-navbar .ep-navbar-button.dropdown-toggle {
  padding-top: 5px;
}
.ep-navmenu-item {
  padding-left: 6px;
}
.ep-navmenu-item-icon {
  padding-right: 4px;
}
.ep-navbar-button .ep-badge {
  position: absolute;
  transform: translate(-75%, -35%);
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}
.ep-navbar-button .ep-badge:empty {
  display: none;
}
/*
=================================================================
SHELL CONTAINER
=================================================================
*/
.ep-shell .ep-shell-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding-left: 0;
}
.ep-shell .ep-shell-container.nav-padding {
  top: 40px !important;
}
.ep-shell .ep-shell-container.footer-padding {
  bottom: 25px;
}
.ep-shell .ep-shell-container .ep-view-placeholder {
  overflow: hidden;
}
/* These rules are necessary because the container sizes defined in bootstrap
   needs to take into account the width of the sidebar when in large mode. */
@media (min-width: 768px) {
  .ep-shell-container #viewContainer .container {
    max-width: 500px;
  }
  .ep-shell-container.hide-left-sidebar #viewContainer .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .ep-shell-container #viewContainer .container {
    max-width: 670px;
  }
  .ep-shell-container.hide-left-sidebar #viewContainer .container {
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .ep-shell-container #viewContainer .container {
    max-width: 920px;
  }
  .ep-shell-container.hide-left-sidebar #viewContainer .container {
    max-width: 1170px;
  }
}
/*
=================================================================
PROGRESS INDICATOR
=================================================================
*/
.ep-shell .ep-progress-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
@media (min-width: 800px) {
  .ep-shell .ep-progress-indicator {
    padding-left: 250px;
  }
  .ep-shell .hide-sidebar .ep-progress-indicator {
    padding-left: 0;
  }
  .ep-shell .disable-sidebar #ep-progress-indicator {
    padding-left: 0;
  }
}
/*
=================================================================
SIDE BAR
=================================================================
*/
.ep-shell .cordova-ios {
  margin-top: 20px;
}
/*
=================================================================
Font Awesome
=================================================================
*/
.fa {
  font-family: FontAwesome !important;
}
/*
=================================================================
View Animation
=================================================================
*/
/* Default view */
.ep-view {
  width: 100%;
  position: absolute;
}
.ep-view-transition {
  transition: all 200ms ease-out;
}
/* Slide animations */
.ep-slide-left-add,
.ep-slide-left.ep-view.ng-enter {
  left: 100%;
}
.ep-slide-left.ep-view.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-right-add,
.ep-slide-right.ep-view.ng-enter {
  left: -100%;
}
.ep-slide-right.ep-view.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-down-add,
.ep-slide-down.ep-view.ng-enter {
  top: -100%;
}
.ep-slide-down.ep-view.ng-enter.ng-enter-active {
  top: 0;
}
.ep-slide-up-add,
.ep-slide-up.ep-view.ng-enter {
  top: 100%;
}
.ep-slide-up.ep-view.ng-enter.ng-enter-active {
  top: 0;
}

/*
=================================================================
SIDEBAR
=================================================================
*/
.ep-shell .ep-sidebar-nav {
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 250px;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ep-shell .ep-sidebar-nav.cordova-ios {
  top: 20px;
}
.ep-shell .ep-sidebar-nav-left {
  left: 0;
}
.ep-shell .ep-sidebar-nav-right {
  right: 0;
}
.ep-shell .ep-shell-container .ep-sidebar-nav-left.ng-hide {
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  -moz-transform: translateZ(0) translateX(-250px);
  -ms-transform: translateZ(0) translateX(-250px);
  -o-transform: translateZ(0) translateX(-250px);
  -webkit-transform: translateZ(0) translateX(-250px);
  transform: translateZ(0) translateX(-250px);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.ep-shell .ep-shell-container .ep-sidebar-nav-right.ng-hide {
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -moz-transform: translateZ(0) translateX(250px);
  -ms-transform: translateZ(0) translateX(250px);
  -o-transform: translateZ(0) translateX(250px);
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
.ep-shell .ep-sidebar-nav div.callout {
  width: 10px;
  height: 40px;
}
.ep-shell .ep-sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.ep-shell .ep-sidebar-nav a.selected:hover {
  color: white;
}
.ep-shell .ep-sidebar-nav.well {
  border-radius: 0;
  padding: 0;
}

/*
=================================================================
VIEW CONTAINER [ep-view-container]
=================================================================
*/
.ep-shell .ep-view-container {
  overflow-x: hidden;
  overflow-y: hidden;
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -moz-transform: translateZ(0) translateX(250px);
  -ms-transform: translateZ(0) translateX(250px);
  -o-transform: translateZ(0) translateX(250px);
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: calc(100% - 250px);
  height: 100%;
}
.ep-shell .ep-view-container.ep-momentum-scrolling-enabled {
  -webkit-overflow-scrolling: touch;
}
.ep-shell .ep-view-container .ep-container-message {
  z-index: 1000;
  position: absolute;
  background-color: lightgray;
}
.ep-shell .ep-view-container .ep-container-message .ep-container-message-text {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
.ep-shell .ep-view-container.ep-scroll-y {
  overflow-y: auto;
}
.ep-shell .ep-view-container.ep-scroll-y .ep-fullscreen {
  overflow-y: auto;
}
@media (max-width: 800px) {
  .ep-shell .ep-view-container {
    /* The order is important on these rules, proceed with care */
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
  }
}
/* This transition ensures that view shifts together with left sidebar */
.ep-shell .ep-sidebar-nav-left.ng-hide ~ .ep-view-placeholder .ep-view-container {
  /* The order is important on these rules, proceed with care */
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
}
.ep-shell .ep-shell-container .ep-view-container-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.ep-anim-speed-250 {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.ep-anim-speed-500 {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.ep-anim-speed-750 {
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}
.ep-anim-speed-1000 {
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.ep-anim-speed-1250 {
  -webkit-transition: all 1250ms ease;
  transition: all 1250ms ease;
}
.ep-slide-left-in,
.ep-slide-left-out,
.ep-slide-right-in,
.ep-slide-right-out,
.ep-slide-up-in,
.ep-slide-up-out,
.ep-slide-down-in,
.ep-slide-down-up {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ep-slide-left-in.ng-enter {
  left: 100%;
}
.ep-slide-left-in.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-left-out.ng-leave {
  left: 0;
}
.ep-slide-left-out.ng-leave.ng-leave-active {
  left: -100%;
}
.ep-slide-right-in.ng-enter {
  left: -100%;
}
.ep-slide-right-in.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-right-out.ng-leave {
  left: 0;
}
.ep-slide-right-out.ng-leave.ng-leave-active {
  left: 100%;
}
.ep-slide-up-in.ng-enter {
  top: 100%;
}
.ep-slide-up-in.ng-enter.ng-enter-active {
  top: 0;
}
.ep-slide-up-out.ng-leave {
  top: 0;
}
.ep-slide-up-out.ng-leave.ng-leave-active {
  top: -100%;
}
.ep-slide-down-in.ng-enter {
  top: -100%;
}
.ep-slide-down-in.ng-enter.ng-enter-active {
  top: 0;
}
.ep-slide-down-out.ng-leave {
  top: 0;
}
.ep-slide-down-out.ng-leave.ng-leave-active {
  top: 100%;
}
.ep-fade-in-in.ng-enter {
  opacity: 0;
}
.ep-fade-in-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.ep-fade-out-out.ng-leave {
  opacity: 1;
}
.ep-fade-out-out.ng-leave.ng-leave-active {
  opacity: 0;
}


.ep-sliding-panel {
  background-color: transparent;
  position: relative;
}
.ep-sliding-pane {
  width: 100%;
  position: absolute;
  background-color: transparent;
}
.ep-sliding-pane.ng-animate {
  -webkit-transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 250ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.ep-sliding-pane.ng-enter.toLeft {
  left: -100%;
}
.ep-sliding-pane.ng-enter-active.toLeft {
  left: 0;
}
.ep-sliding-pane.ng-leave.toLeft {
  left: 0;
}
.ep-sliding-pane.ng-leave-active.toLeft {
  left: 100%;
}
.ep-sliding-pane.ng-enter.toRight {
  left: 100%;
}
.ep-sliding-pane.ng-enter-active.toRight {
  left: 0;
}
.ep-sliding-pane.ng-leave.toRight {
  left: 0;
}
.ep-sliding-pane.ng-leave-active.toRight {
  left: -100%;
}

/* This is a workaround opera issue with the ep-switch wrapping */
.ep-browser-opera ep-switch .bootstrap-switch-label {
  margin-left: -0.5px;
}

.ep-tabbar .ep-tabbar-contents {
  text-align: center;
  margin-left: 25px !important;
  margin-top: 7px;
}
.ep-tabbar .ep-tabbar-content-color {
  color: #ffffff;
}
.ep-tabbar .ep-tabbar-list {
  margin-top: 20px !important;
}
.ep-tabbar .ep-tabbar-label {
  margin-left: 12px !important;
}
@media (max-width: 768px) {
  #tabbar {
    font-size: 11px;
  }
}


/* ===== Styles for the ep-tile component ====== */
.ep-tile .live-tile {
  float: left;
  overflow: hidden;
  position: relative;
}
.ep-tile .live-tile:hover {
  border: 3px solid #fff;
  cursor: pointer;
}
.ep-tile .ep-tile-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.ep-tile .ep-tile-close-button {
  width: 18px;
  margin: 2px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.ep-tile .ep-tile-caption-panel {
  width: 100%;
  min-height: 30px;
  max-height: 45px;
  overflow: hidden;
  margin: 0px;
  padding: 5px 0px 0px 0px;
}
.ep-tile .ep-tile-icon {
  padding-left: 5px;
  padding-right: 3px;
}
.ep-tile.ep-tile-opt-close-btn .ep-tile-caption-panel {
  padding-right: 10px;
}
.ep-tile.ep-tile-opt-cap-30 .live-tile.two-wide .tile-caption {
  font-size: small;
}
.ep-tile.ep-tile-opt-cap-30 .live-tile.one-wide .tile-caption {
  font-size: smaller;
}
.ep-tile .ep-tile-caption {
  padding-left: 3px;
}
/*tile-title is actually tile footer*/
.ep-tile .tile-title {
  padding: 4px;
  background-color: gray;
}
.ep-tile .ep-content-icon {
  position: absolute !important;
  /*top: 10px;*/
  right: 15px;
  font-size: 30px;
  opacity: 0.3;
}
@media only screen and (max-width: 400px) {
  .ep-tile .live-tile.two-wide,
  .ep-tile .live-tile.three-wide {
    width: 100%;
  }
}
/*
   This will center the tiles, when larger than 400 and less than 650. after that
   two tiles may fit side by side. Only in tiles panel mode
*/
@media only screen and (min-width: 400px) and (max-width: 650px) {
  .ep-tiles-panel {
    text-align: center;
  }
  .ep-tiles-panel .ep-tile {
    display: inline-block;
    text-align: left;
  }
}
/* in container mode tile springs to container width less the margins */
.ep-tile-size-container .live-tile {
  width: 95%;
  /* for browsers not supporting calc */
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: -o-calc(100% - 10px);
  width: calc(100% - 10px);
}
/* Fade-in the menu */
/*.ep-tile.ep-fadein-animation.ng-enter,
.ep-tile.ep-fadein-animation.ng-leave
{
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.ep-tile.ep-fadein-animation.ng-enter,
.ep-tile.ep-fadein-animation.ng-leave.ng-leave-active {
  opacity: 0;
}

.ep-tile.ep-fadein-animation.ng-enter.ng-enter-active,
.ep-tile.ep-fadein-animation.ng-leave {
  opacity: 1;
}*/

.ep-tiles-panel .ep-repeat-animation.ng-enter,
.ep-tiles-panel .ep-repeat-animation.ng-leave,
.ep-tiles-panel .ep-repeat-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.ep-tiles-panel .ep-repeat-animation.ng-enter {
  opacity: 0;
}
.ep-tiles-panel .ep-repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.ep-tiles-panel .ep-repeat-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.ep-tiles-panel .ep-repeat-animation.ng-leave {
  opacity: 1;
}
.ep-tiles-panel .ep-repeat-animation.ng-move {
  opacity: 0.5;
}
.ep-tiles-panel .ep-repeat-animation.ng-move.ng-move-active {
  opacity: 1;
}

/* This stylesheet should contain any application specific styling */
.ep-login-background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.ep-login-background .ep-background-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  opacity: 0.4;
  background: url('assets/ep.token/ep-login-view-1.png') no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ep-login-background .ep-background-custom-image {
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  opacity: 0.4;
}
@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .ep-login-background .ep-background-image {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
.ep-login-box {
  padding-top: 40px;
  padding-bottom: 70px;
  width: 90%;
  max-width: 350px;
}
.ep-login-up-box {
  background-color: rgba(224, 224, 224, 0.9);
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-55%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.ep-login-text {
  color: #2c3e50;
}
.ep-login-reset-app {
  padding-top: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.ep-range-slider-ctr {
  /* padding: 0 15px; */
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
}
.ep-range-slider-value-ctr {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}
.ep-range-slider-value-ctr:hover {
  color: #00bfff;
}
.ep-range-slider-value-axis {
  position: relative;
  height: 3px;
  background-color: #dcdcdc;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ep-range-slide-handle {
  height: 30px;
  width: 30px;
  /*-ms-border-radius: 20px;*/
  border-radius: 20px;
  border: 3px solid #fff;
  position: absolute;
  top: -15px;
  background-color: #dcdcdc;
  cursor: pointer;
  z-index: 9997;
}
.ep-range-slide-handle:hover {
  background-color: #00bfff;
}
.ep-range-slide-handle-min {
  left: 0;
}
.ep-range-slide-handle-max {
  right: 0;
}
.ep-range-handle-drag .ep-range-ctr {
  z-index: 9997;
}
.ep-range-handle-drag .ep-range-slide-handle {
  z-index: 9999;
}
.ep-range-drag .ep-range-ctr {
  z-index: 9999;
}
.ep-range-drag .ep-range-slide-handle {
  z-index: 9997;
}
.ep-range-ctr {
  position: absolute;
  padding: 15px 0;
  top: -15px;
  cursor: pointer;
  left: 30px;
  right: 30px;
}
.ep-range-ctr:hover {
  cursor: move;
}
.ep-range-ctr:hover ~ .ep-range-slide-handle,
.ep-range-ctr:active ~ .ep-range-slide-handle {
  background-color: #00bfff;
}
.ep-range {
  background-color: #00bfff;
  height: 3px;
}
.ep-range-steps-ctr {
  position: relative;
  height: 5px;
  margin-top: -15px;
  margin-bottom: 15px;
  visibility: hidden;
}
.active .ep-range-steps-ctr {
  visibility: visible;
}
.ep-range-step {
  width: 1px;
  height: 5px;
  background-color: #000;
  border: 3px;
  position: absolute;
}
.ep-range-step-0 {
  top: 50%;
  left: 0;
  height: 10px;
}
.ep-range-step-25 {
  top: 50%;
  left: 25%;
  height: 10px;
}
.ep-range-step-50 {
  top: 50%;
  left: 50%;
  height: 10px;
}
.ep-range-step-75 {
  top: 50%;
  left: 75%;
  height: 10px;
}
.ep-range-step-100 {
  top: 50%;
  left: 100%;
  height: 10px;
}
.ep-range-slider-toggle-mode {
  cursor: pointer;
  color: #02abe4;
}
.ep-range-input-min,
.ep-range-input-max {
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

.ep-viewmodal.ep-viewmodal-peek {
  background-color: rgba(64, 64, 64, 0.3);
}
.ep-viewmodal-header {
  height: 40px;
}
.ep-viewmodal-header a:hover,
a:focus {
  text-decoration: none;
}
.modal-header.ep-viewmodal-header {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
}
.ep-viewmodal-icon {
  color: white;
  padding-right: 10px;
  font-size: 24px;
  margin-top: -3px;
  cursor: pointer;
}
.ep-viewmodal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10000;
  transition: all 250ms ease-in;
  transform: translateY(0%);
}
.ep-viewmodal.ep-viewmodal-hide {
  transform: translateY(-100%);
}
.ep-viewmodal-body {
  overflow-y: auto;
}
