/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-hover-none {
  text-decoration: none !important;
}
.ep-border-none {
  border: none !important;
}
.ep-background-img {
  width: 100%;
  height: 100%;
}
.ep-background-img-lightest {
  width: 100%;
  height: 100%;
  opacity: .4;
}
.ep-background-img-medium {
  width: 100%;
  height: 100%;
  opacity: .7;
}
img.ep-background-img,
img.ep-background-img-lightest,
img.ep-background-img-medium {
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
.ep-background-img-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}
/* Logo */
.ep-logo-upper-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.ep-transparent-black-lighter {
  background: rgba(0, 0, 0, 0.3) !important;
}
.ep-transparent-black {
  background: rgba(0, 0, 0, 0.5) !important;
}
.ep-transparent-black-darker {
  background: rgba(0, 0, 0, 0.7) !important;
}
.ep-transparent-white-lighter {
  background: rgba(255, 255, 255, 0.3) !important;
}
.ep-transparent-white {
  background: rgba(255, 255, 255, 0.5) !important;
}
.ep-transparent-white-darker {
  background: rgba(255, 255, 255, 0.7) !important;
}
.ep-white {
  color: white !important;
}
.ep-red {
  color: red !important;
}
.ep-black {
  color: black !important;
}
.btn-round {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
  outline: none !important;
}
.btn-round.btn-lg {
  width: 48px !important;
  height: 48px !important;
}
.btn-round.btn-sm {
  width: 34px !important;
  height: 34px !important;
}
.btn-round.btn-xs {
  width: 24px !important;
  height: 24px !important;
}
.ep-ease-animation {
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ep-hide-fade.ng-hide-add,
.ep-hide-fade.ng-hide-remove {
  display: block!important;
}
.ep-hide-fade.ng-hide-add.ng-hide-add-active,
.ep-hide-fade.ng-hide-remove {
  opacity: 0;
}
.ep-hide-fade.ng-hide-add,
.ep-hide-fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.ep-clickable {
  cursor: pointer;
}
.ep-padding {
  padding: 10px;
}
.ep-padding-large {
  padding: 20px;
}
.ep-padding-top,
.ep-padding-vertical {
  padding-top: 10px;
}
.ep-padding-right,
.ep-padding-horizontal {
  padding-right: 10px;
}
.ep-padding-bottom,
.ep-padding-vertical {
  padding-bottom: 10px;
}
.ep-padding-left,
.ep-padding-horizontal {
  padding-left: 10px;
}
/* Utility - Padding Classes */
/* Padding 0px */
.ep-pad-all-0,
.ep-pad-none {
  padding: 0 !important;
}
.ep-pad-vert-0,
.ep-pad-top-0 {
  padding-top: 0 !important;
}
.ep-pad-horz-0,
.ep-pad-right-0 {
  padding-right: 0 !important;
}
.ep-pad-vert-0,
.ep-pad-bottom-0 {
  padding-bottom: 0 !important;
}
.ep-pad-horz-0,
.ep-pad-left-0 {
  padding-left: 0 !important;
}
/* Padding 5px */
.ep-pad-all-5 {
  padding: 5px !important;
}
.ep-pad-vert-5,
.ep-pad-top-5 {
  padding-top: 5px !important;
}
.ep-pad-horz-5,
.ep-pad-right-5 {
  padding-right: 5px !important;
}
.ep-pad-vert-5,
.ep-pad-bottom-5 {
  padding-bottom: 5px !important;
}
.ep-pad-horz-5,
.ep-pad-left-5 {
  padding-left: 5px !important;
}
/* Padding 10px */
.ep-pad-all-10 {
  padding: 10px !important;
}
.ep-pad-vert-10,
.ep-pad-top-10 {
  padding-top: 10px !important;
}
.ep-pad-horz-10,
.ep-pad-right-10 {
  padding-right: 10px !important;
}
.ep-pad-vert-10,
.ep-pad-bottom-10 {
  padding-bottom: 10px !important;
}
.ep-pad-horz-10,
.ep-pad-left-10 {
  padding-left: 10px !important;
}
/* Padding 15px */
.ep-pad-all-15 {
  padding: 15px !important;
}
.ep-pad-vert-15,
.ep-pad-top-15 {
  padding-top: 15px !important;
}
.ep-pad-horz-15,
.ep-pad-right-15 {
  padding-right: 15px !important;
}
.ep-pad-vert-15,
.ep-pad-bottom-15 {
  padding-bottom: 15px !important;
}
.ep-pad-horz-15,
.ep-pad-left-15 {
  padding-left: 15px !important;
}
/* Padding 20px */
.ep-pad-all-20 {
  padding: 20px !important;
}
.ep-pad-vert-20,
.ep-pad-top-20 {
  padding-top: 20px !important;
}
.ep-pad-horz-20,
.ep-pad-right-20 {
  padding-right: 20px !important;
}
.ep-pad-vert-20,
.ep-pad-bottom-20 {
  padding-bottom: 20px !important;
}
.ep-pad-horz-20,
.ep-pad-left-20 {
  padding-left: 20px !important;
}
/* Utility - Margin Classes */
/* Margin 0px */
.ep-margin-all-0,
.ep-margin-none {
  margin: 0 !important;
}
.ep-margin-vert-0,
.ep-margin-top-0 {
  margin-top: 0 !important;
}
.ep-margin-horz-0,
.ep-margin-right-0 {
  margin-right: 0 !important;
}
.ep-margin-vert-0,
.ep-margin-bottom-0 {
  margin-bottom: 0 !important;
}
.ep-margin-horz-0,
.ep-margin-left-0 {
  margin-left: 0 !important;
}
/* Margin 5px */
.ep-margin-all-5 {
  margin: 5px !important;
}
.ep-margin-vert-5,
.ep-margin-top-5 {
  margin-top: 5px !important;
}
.ep-margin-horz-5,
.ep-margin-right-5 {
  margin-right: 5px !important;
}
.ep-margin-vert-5,
.ep-margin-bottom-5 {
  margin-bottom: 5px !important;
}
.ep-margin-horz-5,
.ep-margin-left-5 {
  margin-left: 5px !important;
}
/* Margin 10px */
.ep-margin-all-10 {
  margin: 10px !important;
}
.ep-margin-vert-10,
.ep-margin-top-10 {
  margin-top: 10px !important;
}
.ep-margin-horz-10,
.ep-margin-right-10 {
  margin-right: 10px !important;
}
.ep-margin-vert-10,
.ep-margin-bottom-10 {
  margin-bottom: 10px !important;
}
.ep-margin-horz-10,
.ep-margin-left-10 {
  margin-left: 10px !important;
}
/* Margin 15px */
.ep-margin-all-15 {
  margin: 15px !important;
}
.ep-margin-vert-15,
.ep-margin-top-15 {
  margin-top: 15px !important;
}
.ep-margin-horz-15,
.ep-margin-right-15 {
  margin-right: 15px !important;
}
.ep-margin-vert-15,
.ep-margin-bottom-15 {
  margin-bottom: 15px !important;
}
.ep-margin-horz-15,
.ep-margin-left-15 {
  margin-left: 15px !important;
}
/* Margin 20px */
.ep-margin-all-20 {
  margin: 20px !important;
}
.ep-margin-vert-20,
.ep-margin-top-20 {
  margin-top: 20px !important;
}
.ep-margin-horz-20,
.ep-margin-right-20 {
  margin-right: 20px !important;
}
.ep-margin-vert-20,
.ep-margin-bottom-20 {
  margin-bottom: 20px !important;
}
.ep-margin-horz-20,
.ep-margin-left-20 {
  margin-left: 20px !important;
}
/* Negative Margin Classes */
/* Negative Margin -5 */
.ep-margin-all-neg-5 {
  margin: -5px !important;
}
.ep-margin-top-neg-5 {
  margin-top: -5px !important;
}
.ep-margin-right-neg-5 {
  margin-right: -5px !important;
}
.ep-margin-bottom-neg-5 {
  margin-bottom: -5px !important;
}
.ep-margin-left-neg-5 {
  margin-left: -5px !important;
}
/* Negative Margin -10 */
.ep-margin-all-neg-10 {
  margin: -10px !important;
}
.ep-margin-top-neg-10 {
  margin-top: -10px !important;
}
.ep-margin-right-neg-10 {
  margin-right: -10px !important;
}
.ep-margin-bottom-neg-10 {
  margin-bottom: -10px !important;
}
.ep-margin-left-neg-10 {
  margin-left: -10px !important;
}
/* Negative Margin -15 */
.ep-margin-all-neg-15 {
  margin: -15px !important;
}
.ep-margin-top-neg-15 {
  margin-top: -15px !important;
}
.ep-margin-right-neg-15 {
  margin-right: -15px !important;
}
.ep-margin-bottom-neg-15 {
  margin-bottom: -15px !important;
}
.ep-margin-left-neg-15 {
  margin-left: -15px !important;
}
/* Negative Margin -20 */
.ep-margin-all-neg-20 {
  margin: -20px !important;
}
.ep-margin-top-neg-20 {
  margin-top: -20px !important;
}
.ep-margin-right-neg-20 {
  margin-right: -20px !important;
}
.ep-margin-bottom-neg-20 {
  margin-bottom: -20px !important;
}
.ep-margin-left-neg-20 {
  margin-left: -20px !important;
}
.ep-center-text {
  text-align: center !important;
}
.ep-center-item {
  /* The order of these transform rules is important, proceed with caution */
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateZ(0) translateX(-50%);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  margin-left: 50%;
}
.ep-align-hleft {
  float: left;
}
.ep-align-hcenter {
  display: table;
  margin: 0 auto;
}
.ep-align-hright {
  float: right;
}
.ep-align-vtop {
  position: relative;
}
.ep-align-vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.ep-align-vbottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}
/**Overriding font-awesome to work in windows devices*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../../font-awesome/fonts/fontawesome-webfont.eot');
  src: url('../../font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../../font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), url('../../font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../../font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../../font-awesome/fonts/fontawesome-webfont.svg?#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Custom Icon font */
@font-face {
  font-family: 'ep-custom-icon';
  src: url('assets/ep.common/custom-fonts/ep-custom-icon.eot');
  src: url('assets/ep.common/custom-fonts/ep-custom-icon.eot#iefix') format('embedded-opentype'), url('assets/ep.common/custom-fonts/ep-custom-icon.ttf') format('truetype'), url('assets/ep.common/custom-fonts/ep-custom-icon.woff') format('woff'), url('assets/ep.common/custom-fonts/ep-custom-icon.svg#ep-custom-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="ci-"],
[class*="-ci-"] {
  font-family: 'ep-custom-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ep-ci-updownarrow:before {
  content: "\e900";
}
.ep-ci-camera:before {
  content: "\e901";
}
.ep-ci-contact:before {
  content: "\e903";
}
.ep-ci-flashlight:before {
  content: "\e907";
}
.ep-ci-device-info:before {
  content: "\e908";
}
.ep-ci-internet-status:before {
  content: "\e909";
}
.ep-ci-location:before {
  content: "\e904";
}
.ep-ci-audio-media:before {
  content: "\e902";
}
.ep-ci-barcode:before {
  content: "\e905";
}
.ep-ci-vibrate:before {
  content: "\e906";
}
.ep-ci-network-status:before {
  content: "\e90b";
}
.ep-ci-calendar:before {
  content: "\e90a";
}
.ep-ci-offline-storage:before {
  content: "\e90c";
}
.ep-ci-gps-tracker:before {
  content: "\e90d";
}
.ep-ci-email-composer:before {
  content: "\e90e";
}

.ep-viewmodal.ep-viewmodal-peek {
  background-color: rgba(64, 64, 64, 0.3);
}
.ep-viewmodal-header {
  height: 40px;
}
.ep-viewmodal-header a:hover,
a:focus {
  text-decoration: none;
}
.modal-header.ep-viewmodal-header {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
}
.ep-viewmodal-icon {
  color: white;
  padding-right: 10px;
  font-size: 24px;
  margin-top: -3px;
  cursor: pointer;
}
.ep-viewmodal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10000;
  transition: all 250ms ease-in;
  transform: translateY(0%);
}
.ep-viewmodal.ep-viewmodal-hide {
  transform: translateY(-100%);
}
.ep-viewmodal-body {
  overflow-y: auto;
}

.ep-drop-active.ep-drop-highlight {
  opacity: 0.5;
  border: 1px dashed darkblue;
}

.ep-console-warning {
  color: orange;
}
.ep-console-error {
  color: orangered;
}
.ep-console-info {
  color: blue;
}

.ep-modaldialog .ep-dlg-buttons {
  width: 100%;
  min-height: 30px;
}
.ep-modaldialog .ep-dlg-buttons button {
  margin-right: 7px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
}
.ep-modaldialog .ep-dlg-spinner-text.ep-timer-large-font {
  font-size: smaller;
}
.ep-modaldialog .ep-dlg-spinner-text.ep-timer-small-font {
  font-size: small;
}
/* modaldialog-pane.html */
.ep-modaldialog.ep-modaldialog-pane {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100000;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-container {
  top: 35%;
  color: white;
  position: relative;
  width: 100%;
  padding: 20px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center {
  position: relative;
  left: 10%;
  width: 80%;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-icon {
  margin-right: 10px;
  margin-top: 5px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-title {
  letter-spacing: -1px;
  font-size: 24px;
  font-weight: 300;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-message {
  font-size: 18px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-progress-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-progress-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
@media (max-width: 480px) {
  .ep-modaldialog.ep-modaldialog-pane .ep-dlg-container {
    padding: 20px 0 20px 0;
  }
  .ep-modaldialog.ep-modaldialog-pane .ep-dlg-center {
    left: 5%;
    width: 90%;
  }
}
@media (min-width: 800px) {
  .ep-modaldialog.ep-modaldialog-pane .ep-dlg-progress-indicator {
    padding-left: 250px;
  }
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center {
  position: relative;
  left: 10%;
  width: 80%;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center .ep-dlg-title {
  letter-spacing: -1px;
  font-size: 24px;
  font-weight: 300;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center .ep-dlg-message {
  font-size: 18px;
}
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-rememberMe label {
  display: inline-block;
  margin-top: 3px;
  margin-left: 3px;
  font-weight: normal;
}
/* not sure if these are needed...
.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center input {
    width: 50%;
    padding: 5px;
}

.ep-modaldialog.ep-modaldialog-pane .ep-dlg-center select {
    width: 50%;
    padding: 5px;
}
*/
/* modaldialog-custom.html */
.ep-modaldialog.ep-modaldialog-custom {
  height: 100%;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header .modal-title {
  min-height: 40px;
  padding: 8px 0 0 8px;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header .ep-dlg-title-icon {
  vertical-align: middle;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header .ep-dlg-title {
  padding-left: 8px;
  display: inline-block;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header span.help,
.ep-modaldialog.ep-modaldialog-custom .modal-header span.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 1;
}
.ep-modaldialog.ep-modaldialog-custom .modal-header span.help a,
.ep-modaldialog.ep-modaldialog-custom .modal-header span.close a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px 5px 5px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-modal-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  border: none;
}
.ep-modaldialog.ep-modaldialog-custom .ep-modal-area {
  overflow-y: auto;
  max-height: 85vh;
  padding-left: 10px;
  padding-right: 10px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.ep-modaldialog.ep-modaldialog-custom .modal-footer .btn {
  min-width: 70px;
  /*so that btn is not too small*/
  margin-bottom: 5px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-status .modal-title {
  min-height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-status h4 {
  padding: 10px;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-rememberMe {
  padding-left: 0;
}
.ep-modaldialog.ep-modaldialog-custom .ep-dlg-rememberMe label {
  display: inline-block;
  margin-top: 3px;
  margin-left: 3px;
  font-weight: normal;
}
.ep-modaldialog.ep-modaldialog-custom .modal-body {
  /*padding-bottom: 0;*/
}
/* modaldialog-error.html */
.ep-dialog-alert {
  overflow: auto;
}
.ep-modaldialog .ep-modaldialog-error .ep-dlg-bodytable {
  background-color: transparent;
  /*because some themes apply table backrground*/
}
.ep-modaldialog .ep-modaldialog-error .ep-message-details textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
}
.ep-modaldialog .ep-modaldialog-error .ep-dlg-message {
  display: block;
  padding: 5px;
  overflow: auto;
}
.ep-modaldialog .ep-modaldialog-error .ep-dlg-icon {
  display: block;
}
.ep-modaldialog .ep-modaldialog-error.ep-error-dialog {
  padding: 5px 0px 0px 0px;
}
.ep-modal-window .modal-dialog {
  position: relative;
  max-height: 85%;
}
.ep-modal-window .modal-content {
  position: relative;
  height: 100%;
}
/* modal dialog size. fullscreen class or responsive to fullscreen */
@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .ep-modal-window .modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-height: 100%;
  }
  .ep-modal-window .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    overflow: auto;
    width: 100%;
  }
  .ep-modaldialog.ep-modaldialog-custom .ep-modal-area {
    overflow-y: auto;
    max-height: 100%;
    padding-bottom: 80px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ep-modaldialog .ep-modaldialog-error .my-error-dialog {
    padding: 65px 20px 20px 20px;
  }
}
.ep-modal-window.ep-fullscreen .modal-dialog {
  position: fixed;
  width: 100%;
  height: 100% !important;
  padding: 0;
  margin: 0;
  max-height: 100%;
}
.ep-modal-window.ep-fullscreen .modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
  overflow: auto;
  width: 100%;
}
.ep-modal-window.ep-fullscreen .ep-modal-area {
  height: 100%;
  max-height: 100%;
}
/* modaldialog-loading.html */
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog {
  width: 300px !important;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #fff;
}
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog .ep-dlg-title {
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
  color: #2b8aca;
  margin: 0 0 5px!important;
}
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog .ep-dlg-icon {
  text-align: center;
  color: #2b8aca;
  width: 100%;
}
.ep-modaldialog.ep-modaldialog-pane .ep-loading-dialog .ep-dlg-message {
  font-size: 14px;
  display: block;
  text-align: center;
  color: #434343;
  margin: 5px 0 0 !important;
}

.ep-shell .ep-shell-feedback-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 28px;
  z-index: 2000;
  background-color: lightgray;
  padding: 5px;
  border-radius: 2px 0 0 0;
  font-size: smaller;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border-top: gray solid 1px;
  border-left: gray solid 1px;
}
.ep-shell .ep-fullscreen {
  height: 100%;
}
/**********************************************************
 Bootstrap NavBar Overrides
***********************************************************/
.ep-shell .right-button {
  float: right !important;
}
.ep-shell .nav > li > a {
  padding: 10px 5px;
}
.ep-shell .navbar-nav {
  margin: 0 5px 0 0 !important;
  float: none;
}
.ep-shell .navbar-nav.navbar-right:last-child {
  margin: 0 5px 0 0;
}
.ep-shell .navbar-sm.navbar-default {
  min-height: 25px;
  height: 40px;
}
.ep-shell .navbar-sm .navbar-header {
  min-height: 40px;
  height: 40px;
}
.ep-shell .navbar-sm .navbar-brand {
  padding: 10px 0 5px 0;
  height: 40px;
}
.ep-shell .navbar-sm .navbar-brand.fa {
  padding: 5px 5px;
  height: 40px;
}
.ep-shell .navbar-sm a {
  padding: 5px 5px;
  height: 40px;
  z-index: 50;
}
.ep-shell .navbar-sm .navbar-primary .navbar .navbar-brand {
  padding: 0 12px;
  line-height: 40px;
}
.ep-shell .navbar-sm .navbar-primary .navbar .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 40px;
}
.ep-shell .navbar-sm .container-fluid {
  padding-left: 5px;
  padding-right: 5px;
}
.ep-shell .navbar-xsm.navbar-default.navbar {
  min-height: 25px;
  height: 25px;
}
.ep-shell .ep-main-navbar .right-button.open .dropdown-menu {
  display: block;
}
.navbar-nav > li.ep-center-brand {
  float: none;
  z-index: 10;
}
a.ep-center-brand,
span.ep-center-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
#apptitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 767px) {
  .ep-shell .ep-main-navbar .right-button .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 15px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .ep-shell .ep-main-navbar .navbar-nav .open .dropdown-menu.align-right {
    left: inherit;
    right: -3px;
  }
  .ep-shell .ep-main-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #888888;
    padding-left: 8px;
  }
  .ep-shell .ep-main-navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #444444;
    color: #ffffff;
  }
}
.dropdown-menu > li > a {
  max-width: 200px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/**********************************************************
 NavBar Buttons / Menu
***********************************************************/
.ep-shell .ep-main-navbar .ep-navbar-button {
  padding: 10px 5px 5px 5px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0;
}
.ep-shell .ep-main-navbar .ep-navbar-button.dropdown-toggle {
  padding-top: 5px;
}
.ep-navmenu-item {
  padding-left: 6px;
}
.ep-navmenu-item-icon {
  padding-right: 4px;
}
.ep-navbar-button .ep-badge {
  position: absolute;
  transform: translate(-75%, -35%);
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}
.ep-navbar-button .ep-badge:empty {
  display: none;
}
/*
=================================================================
SHELL CONTAINER
=================================================================
*/
.ep-shell .ep-shell-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding-left: 0;
}
.ep-shell .ep-shell-container.nav-padding {
  top: 40px !important;
}
.ep-shell .ep-shell-container.footer-padding {
  bottom: 25px;
}
.ep-shell .ep-shell-container .ep-view-placeholder {
  overflow: hidden;
}
/* These rules are necessary because the container sizes defined in bootstrap
   needs to take into account the width of the sidebar when in large mode. */
@media (min-width: 768px) {
  .ep-shell-container #viewContainer .container {
    max-width: 500px;
  }
  .ep-shell-container.hide-left-sidebar #viewContainer .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .ep-shell-container #viewContainer .container {
    max-width: 670px;
  }
  .ep-shell-container.hide-left-sidebar #viewContainer .container {
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .ep-shell-container #viewContainer .container {
    max-width: 920px;
  }
  .ep-shell-container.hide-left-sidebar #viewContainer .container {
    max-width: 1170px;
  }
}
/*
=================================================================
PROGRESS INDICATOR
=================================================================
*/
.ep-shell .ep-progress-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
@media (min-width: 800px) {
  .ep-shell .ep-progress-indicator {
    padding-left: 250px;
  }
  .ep-shell .hide-sidebar .ep-progress-indicator {
    padding-left: 0;
  }
  .ep-shell .disable-sidebar #ep-progress-indicator {
    padding-left: 0;
  }
}
/*
=================================================================
SIDE BAR
=================================================================
*/
.ep-shell .cordova-ios {
  margin-top: 20px;
}
/*
=================================================================
Font Awesome
=================================================================
*/
.fa {
  font-family: FontAwesome !important;
}
/*
=================================================================
View Animation
=================================================================
*/
/* Default view */
.ep-view {
  width: 100%;
  position: absolute;
}
.ep-view-transition {
  transition: all 200ms ease-out;
}
/* Slide animations */
.ep-slide-left-add,
.ep-slide-left.ep-view.ng-enter {
  left: 100%;
}
.ep-slide-left.ep-view.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-right-add,
.ep-slide-right.ep-view.ng-enter {
  left: -100%;
}
.ep-slide-right.ep-view.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-down-add,
.ep-slide-down.ep-view.ng-enter {
  top: -100%;
}
.ep-slide-down.ep-view.ng-enter.ng-enter-active {
  top: 0;
}
.ep-slide-up-add,
.ep-slide-up.ep-view.ng-enter {
  top: 100%;
}
.ep-slide-up.ep-view.ng-enter.ng-enter-active {
  top: 0;
}

/*
=================================================================
SIDEBAR
=================================================================
*/
.ep-shell .ep-sidebar-nav {
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 250px;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ep-shell .ep-sidebar-nav.cordova-ios {
  top: 20px;
}
.ep-shell .ep-sidebar-nav-left {
  left: 0;
}
.ep-shell .ep-sidebar-nav-right {
  right: 0;
}
.ep-shell .ep-shell-container .ep-sidebar-nav-left.ng-hide {
  -moz-transform: translateX(-250px);
  -ms-transform: translateX(-250px);
  -o-transform: translateX(-250px);
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  -moz-transform: translateZ(0) translateX(-250px);
  -ms-transform: translateZ(0) translateX(-250px);
  -o-transform: translateZ(0) translateX(-250px);
  -webkit-transform: translateZ(0) translateX(-250px);
  transform: translateZ(0) translateX(-250px);
  -moz-transform: translate3d(-250px, 0, 0);
  -ms-transform: translate3d(-250px, 0, 0);
  -o-transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
.ep-shell .ep-shell-container .ep-sidebar-nav-right.ng-hide {
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -moz-transform: translateZ(0) translateX(250px);
  -ms-transform: translateZ(0) translateX(250px);
  -o-transform: translateZ(0) translateX(250px);
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
.ep-shell .ep-sidebar-nav div.callout {
  width: 10px;
  height: 40px;
}
.ep-shell .ep-sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.ep-shell .ep-sidebar-nav a.selected:hover {
  color: white;
}
.ep-shell .ep-sidebar-nav.well {
  border-radius: 0;
  padding: 0;
}

/*
=================================================================
VIEW CONTAINER [ep-view-container]
=================================================================
*/
.ep-shell .ep-view-container {
  overflow-x: hidden;
  overflow-y: hidden;
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  -moz-transform: translateZ(0) translateX(250px);
  -ms-transform: translateZ(0) translateX(250px);
  -o-transform: translateZ(0) translateX(250px);
  -webkit-transform: translateZ(0) translateX(250px);
  transform: translateZ(0) translateX(250px);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  -o-transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  width: -moz-calc(100% - 250px);
  width: -webkit-calc(100% - 250px);
  width: -o-calc(100% - 250px);
  width: calc(100% - 250px);
  height: 100%;
}
.ep-shell .ep-view-container.ep-momentum-scrolling-enabled {
  -webkit-overflow-scrolling: touch;
}
.ep-shell .ep-view-container .ep-container-message {
  z-index: 1000;
  position: absolute;
  background-color: lightgray;
}
.ep-shell .ep-view-container .ep-container-message .ep-container-message-text {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}
.ep-shell .ep-view-container.ep-scroll-y {
  overflow-y: auto;
}
.ep-shell .ep-view-container.ep-scroll-y .ep-fullscreen {
  overflow-y: auto;
}
@media (max-width: 800px) {
  .ep-shell .ep-view-container {
    /* The order is important on these rules, proceed with care */
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transform: translateZ(0) translateX(0);
    -ms-transform: translateZ(0) translateX(0);
    -o-transform: translateZ(0) translateX(0);
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 100%;
  }
}
/* This transition ensures that view shifts together with left sidebar */
.ep-shell .ep-sidebar-nav-left.ng-hide ~ .ep-view-placeholder .ep-view-container {
  /* The order is important on these rules, proceed with care */
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transform: translateZ(0) translateX(0);
  -ms-transform: translateZ(0) translateX(0);
  -o-transform: translateZ(0) translateX(0);
  -webkit-transform: translateZ(0) translateX(0);
  transform: translateZ(0) translateX(0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
}
.ep-shell .ep-shell-container .ep-view-container-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.ep-anim-speed-250 {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.ep-anim-speed-500 {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.ep-anim-speed-750 {
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
}
.ep-anim-speed-1000 {
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.ep-anim-speed-1250 {
  -webkit-transition: all 1250ms ease;
  transition: all 1250ms ease;
}
.ep-slide-left-in,
.ep-slide-left-out,
.ep-slide-right-in,
.ep-slide-right-out,
.ep-slide-up-in,
.ep-slide-up-out,
.ep-slide-down-in,
.ep-slide-down-up {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ep-slide-left-in.ng-enter {
  left: 100%;
}
.ep-slide-left-in.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-left-out.ng-leave {
  left: 0;
}
.ep-slide-left-out.ng-leave.ng-leave-active {
  left: -100%;
}
.ep-slide-right-in.ng-enter {
  left: -100%;
}
.ep-slide-right-in.ng-enter.ng-enter-active {
  left: 0;
}
.ep-slide-right-out.ng-leave {
  left: 0;
}
.ep-slide-right-out.ng-leave.ng-leave-active {
  left: 100%;
}
.ep-slide-up-in.ng-enter {
  top: 100%;
}
.ep-slide-up-in.ng-enter.ng-enter-active {
  top: 0;
}
.ep-slide-up-out.ng-leave {
  top: 0;
}
.ep-slide-up-out.ng-leave.ng-leave-active {
  top: -100%;
}
.ep-slide-down-in.ng-enter {
  top: -100%;
}
.ep-slide-down-in.ng-enter.ng-enter-active {
  top: 0;
}
.ep-slide-down-out.ng-leave {
  top: 0;
}
.ep-slide-down-out.ng-leave.ng-leave-active {
  top: 100%;
}
.ep-fade-in-in.ng-enter {
  opacity: 0;
}
.ep-fade-in-in.ng-enter.ng-enter-active {
  opacity: 1;
}
.ep-fade-out-out.ng-leave {
  opacity: 1;
}
.ep-fade-out-out.ng-leave.ng-leave-active {
  opacity: 0;
}
