/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
#appHost {
  height: 100%;
}
#splash {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#splashContainer {
  width: 100%;
  text-align: center;
}
