/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-customize-active {
  background-color: bisque;
  border-style: dashed;
  overflow: auto;
}
.ep-drag-active {
  cursor: move;
  background-color: darkkhaki;
  border-style: dashed;
  border-color: black;
  opacity: 0.5;
}
.ep-customize-control-active {
  border: 1px dashed black;
  background-color: aliceblue;
  opacity: 0.7;
}
