/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-mlm-container {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  width: 100%;
}
/* MLM Search */
.ep-mlm-container .ep-mlm-search {
  margin: 8px;
  position: relative;
}
.ep-mlm-container .ep-mlm-search-cancel {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  opacity: .5;
  cursor: pointer;
}
/* Hide the buggy cancel icon on the search input in IE because we show our own*/
.ep-mlm-container .ep-mlm-search-input::-ms-clear {
  display: none;
}
.ep-mlm-container .ep-mlm-search-input {
  border-radius: 8px !important;
  width: 100% !important;
  max-width: 220px !important;
}
.ep-mlm-container .ep-mlm-search-icon {
  position: relative;
  left: 220px;
  top: 14px;
  background-color: white;
  color: black;
}
.ep-mlm-container .ep-mlm-alert {
  margin-left: 8px;
  margin-right: 8px;
}
/* MLM Content */
.ep-mlm-container.ep-mlm-content {
  position: relative;
  width: 100%;
  padding-bottom: 48px;
}
.ep-mlm-container .ep-mlm-header {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ep-mlm-container li {
  padding: 0;
  margin: 0;
  text-indent: 8px;
  line-height: 40px;
  list-style-type: none;
  white-space: nowrap;
}
.ep-mlm-container li a {
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ep-mlm-container ul {
  padding-left: 0;
}
.ep-mlm-container li a:active,
.ep-mlm-container li a:focus {
  text-decoration: none;
}
.ep-mlm-container .ep-mlm-back-button {
  cursor: pointer;
  padding-top: 4px;
}
.ep-mlm-container .ep-mlm-list {
  margin-left: 15px;
}
.ep-mlm-container .pointer {
  cursor: pointer;
}
.ep-mlm-container .ep-mlm-item {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.ep-mlm-container .ep-mlm-item .ep-mlm-item-div {
  width: 80%;
  /* for browsers not supporting calc */
  width: -moz-calc(100% - 65px);
  width: -webkit-calc(100% - 65px);
  width: -o-calc(100% - 65px);
  width: calc(100% - 65px);
}
.ep-mlm-container .ep-mlm-item .ep-mlm-item-div.ep-mlm-item-div-icon {
  width: 65%;
  /* for browsers not supporting calc */
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  width: -o-calc(100% - 80px);
  width: calc(100% - 80px);
}
.ep-mlm-container .ep-mlm-item-text {
  width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.ep-mlm-container .ep-mlm-favorite {
  line-height: 40px;
  padding-right: 10px;
}
.ep-mlm-container .ep-mlm-favorite.gold {
  color: gold;
}
.ep-mlm-container .ep-mlm-separator-top {
  width: 100%;
  min-height: 5px;
  background-color: dimgray;
}
.ep-mlm-container .ep-mlm-icon {
  line-height: 40px;
  padding-right: 0px;
}
.ep-mlm-container .ep-mlm-separator-text {
  font-weight: bold;
  color: ghostwhite;
  height: 40px;
}
.ep-mlm-container .ep-mlm-separator-icon {
  padding-top: 13px;
  color: ghostwhite;
}
.ep-mlm-container .ep-mlm-separator {
  cursor: default;
}
.ep-mlm-container .ep-mlm-submenu {
  line-height: 40px;
  padding-right: 24px;
}
/* MLM Animations */
/* Fade-in the menu */
.ep-mlm-container .ep-fadein-animation.ng-enter,
.ep-mlm-container .ep-fadein-animation.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position: relative;
}
.ep-mlm-container .ep-fadein-animation.ng-enter,
.ep-mlm-container .ep-fadein-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.ep-mlm-container .ep-fadein-animation.ng-enter.ng-enter-active,
.ep-mlm-container .ep-fadein-animation.ng-leave {
  opacity: 1;
}
/* Items slide in/slide out */
.ep-mlm-container .ep-repeat-animation.ng-enter,
.ep-mlm-container .ep-repeat-animation.ng-leave,
.ep-mlm-container .ep-repeat-animation.ng-move {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  position: relative;
}
.ep-mlm-container.ep-left-to-right .ep-repeat-animation.ng-enter {
  left: -50px;
  opacity: 0;
}
.ep-mlm-container.ep-left-to-right .ep-repeat-animation.ng-leave.ng-leave-active {
  left: -50px;
  opacity: 0;
}
.ep-mlm-container.ep-right-to-left .ep-repeat-animation.ng-enter {
  left: 50px;
  opacity: 0;
}
.ep-mlm-container.ep-right-to-left .ep-repeat-animation.ng-leave.ng-leave-active {
  left: 50px;
  opacity: 0;
}
.ep-mlm-container .ep-repeat-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.ep-mlm-container .ep-repeat-animation.ng-leave {
  left: 0;
  opacity: 1;
}
.ep-mlm-container .ep-repeat-animation.ng-move {
  opacity: 0.5;
}
.ep-mlm-container .ep-repeat-animation.ng-move.ng-move-active {
  opacity: 1;
}

.ep-accordion-menu .list-group .panel > .list-group-item {
  color: transparent;
  border-radius: 0;
  cursor: pointer;
}
.ep-accordion-menu .ep-menu-header {
  border-radius: 0 !important;
  cursor: pointer;
  padding: 10px;
}
.ep-accordion-menu .ep-mlm-search {
  position: relative;
}
.ep-accordion-menu .ep-mlm-search-cancel {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  opacity: .5;
  cursor: pointer;
}
/* Hide the buggy cancel icon on the search input in IE because we show our own*/
.ep-accordion-menu .ep-mlm-search-input::-ms-clear {
  display: none;
}
.ep-accordion-menu .list-group-item {
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
  cursor: pointer;
  padding: 5px 0 5px 0;
}
.ep-accordion-menu .list-group-item:last-child {
  border-bottom: none;
}
.ep-accordion-menu .container-fluid {
  padding-left: 0;
}
.ep-accordion-menu .container-fluid:focus {
  outline: none;
  background-color: #0071b3;
}
.ep-accordion-menu .container-fluid:hover {
  outline: none;
  background-color: #0083D0;
}
.ep-accordion-menu .container-fluid:focus .ep-submenu-header {
  outline: none;
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .container-fluid:focus #menuItem {
  outline: none;
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .container-fluid:hover .ep-submenu-header {
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .container-fluid:hover #menuItem {
  background-color: transparent;
  color: white;
}
.ep-accordion-menu .list-group-item:first-child {
  border-top: none;
}
.ep-accordion-menu .list-group-item {
  margin-left: 4px;
}
.ep-accordion-menu .list-group > .list-group-item {
  margin-left: 0px;
}
.ep-accordion-menu .list-group > .list-group-item:focus {
  outline: none;
}
.ep-accordion-menu .panel {
  margin-bottom: 0;
}
.ep-accordion-menu .ep-accordion-menu-desc {
  margin-left: 5px;
}
.ep-accordion-menu .ep-accordion-expanded {
  padding-bottom: 6px;
}
.ep-accordion-menu .ep-submenu-header.ep-accordion-expanded {
  font-weight: bold;
}
.ep-accordion-menu .list-group-submenu.ep-accordion-expanded.ep-accordion-expanded-odd {
  background-color: gainsboro;
}
.ep-accordion-menu .ep-accordion-expanded.ep-accordion-expanded-odd {
  background-color: gainsboro;
}
.ep-accordion-menu .list-group-submenu.ep-accordion-expanded.ep-accordion-expanded-even {
  background-color: aliceblue;
}
.ep-accordion-menu .ep-accordion-expanded.ep-accordion-expanded-even {
  background-color: aliceblue;
}
.ep-accordion-menu-animate {
  -webkit-transition: .5s linear all;
  /* Chrome */
  transition: .5s linear all;
}
.ep-accordion-menu .list-group-submenu {
  max-height: 2500px;
}
.ep-accordion-menu .list-group-submenu.collapsed {
  max-height: 0px;
}
.ep-accordion-menu .col-xs-10,
.ep-accordion-menu .col-xs-12 {
  padding-left: 0 !important;
}
.ep-accordion-menu form {
  padding: 5px;
}
.ep-vertical-align-center {
  display: flex;
  align-items: center;
}

.ep-relative {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .ep-action-owner {
    display: block;
    line-height: inherit !important;
    padding-right: 40px !important;
  }
  .ep-actionset {
    display: block !important;
    background-color: transparent !important;
    /*color:#00ff21;*/
  }
  .ep-actionset.ep-actionset-right-down {
    bottom: -30px !important;
    height: 40px !important;
    width: 40px !important;
  }
  .ep-interactivity-sign {
    line-height: 100% !important;
    height: 100% !important;
  }
  #ep-actions-menu-ctr,
  .edd-overlay-ctr {
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 3000;
    background-color: rgba(48, 60, 67, 0.7);
    /*
        -webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
        */
  }
  .ep-actions-menu {
    border-top: 1px solid #8b969b;
    background-color: #fff;
    top: auto !important;
    right: auto !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
  }
  /*  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus*/
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item:hover,
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item:focus,
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item:active {
    background-color: #dfe5e8 !important;
  }
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item {
    color: #556065;
    display: block;
    padding: 0 0 0 20px !important;
    font-size: 16px !important;
    white-space: normal !important;
  }
  .ep-actions-menu-item:focus,
  .ep-actions-menu-item:hover {
    background-color: #dfe5e8;
    cursor: default;
  }
  .ep-actions-menu-item.separate {
    border-top: 1px solid #b9c8ce;
  }
  .ep-actions-menu-item {
    /*  line-height: 60px;*/
    color: #54666f;
  }
  .ep-actions-menu-item-mobile {
    display: block;
  }
  .ep-actions-menu-item-separator {
    margin: 0 10px !important;
    border-bottom: 1px dotted #ddd !important;
  }
  .ep-actions-menu-item .icon {
    font-size: 20px;
    width: 30px;
  }
  .ep-actions-menu-item span {
    line-height: 50px;
    float: left;
  }
}
@media only screen and (min-width: 768px) {
  #ep-actions-menu-ctr {
    position: absolute;
    color: black;
    z-index: 1000;
  }
  .ep-actions-menu {
    /*  border-top: 1px solid #8b969b;*/
    background-color: #fff;
  }
  .ep-actions-menu-item {
    font-size: 14px;
  }
  .ep-actions-menu-item-mobile {
    display: none;
  }
  .ep-actions-menu-item .icon {
    margin-right: 10px;
    width: 30px;
  }
  .dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item {
    display: block;
    padding-left: 10px !important;
  }
  .ep-actionset.ep-actionset-right-down {
    right: -20px;
    height: 10px;
  }
}
.ep-action-owner:hover .ep-actionset {
  display: block;
}
.ep-actionset {
  background-color: #fff;
  display: none;
}
.ep-actionset-visible {
  display: block !important;
}
.ep-actionset-right-down {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-actionset-right-center {
  position: absolute;
  top: 20%;
  right: -20px;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-actionset-right-bottom {
  position: absolute;
  bottom: 0;
  right: -20px;
  height: 10px;
  width: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-actions-menu-item-separator {
  height: 1px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  margin: 5px 10px;
}
#ep-actions-menu-ctr .dropdown-menu {
  display: block !important;
}
.dropdown-menu.ep-actions-menu > li > a.ep-actions-menu-item {
  white-space: nowrap !important;
  overflow: hidden;
  cursor: pointer;
}
.ep-interactivity-sign-float-right {
  float: right;
}
.ep-interactivity-sign.active,
.ep-interactivity-sign:active {
  color: red !important;
}
.ep-interactivity-sign {
  line-height: 100% !important;
  height: 100% !important;
  position: relative;
  text-align: center;
}
.ep-interactivity-sign .icon {
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  width: 100%;
  margin-top: -6px;
  box-sizing: border-box;
  white-space: nowrap;
}
.ep-interactivity-sign.active {
  color: red;
}

.ep-dropdown-btn .ep-dropdown-btn-chk {
  margin-right: 2px;
}

.ep-list-container {
  position: absolute;
  width: 100%;
}
.ep-list-container li {
  list-style-type: none;
}
.ep-list {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 80px);
  position: absolute;
  width: 100%;
  padding-left: 0px;
  margin-top: 50px;
  top: 0;
  border-left: solid 1px #eee;
  border-right: solid 1px #eee;
}
.ep-list li {
  border-bottom: 1px solid #eee;
}
.ep-list-directory-item.active {
  background: #fff;
}
.ep-list-item-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 0;
}
.ep-list-item-title {
  font-weight: bold;
}
.ep-list-item-content .ep-list-item-text {
  flex: 5 0 auto;
  width: 60%;
  padding-left: 10px;
}
.ep-list-item-content .ep-list-item-details {
  flex: 2 0 auto;
  width: 30%;
  font-size: 13px;
  text-align: right;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .ep-list-item-details {
    padding-right: 20px !important;
  }
}
.ep-list-item-content .ep-list-item-decorator {
  flex: 0 0 auto;
  margin: auto 0;
}
.ep-list.ep-header-visible {
  margin-top: 90px;
  height: calc(100vh - 160px);
}
.ep-group-heading {
  font-weight: bold;
  background: #eee;
  line-height: 32px;
  height: 33px;
  border-left: solid 3px #bcbcbc;
  padding-left: 6px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.ep-list-directory {
  position: absolute;
  right: 0;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  width: 20px;
  top: 50px;
  height: calc(100vh - 80px);
  z-index: 10;
}
@media (max-height: 680px) {
  .ep-list-directory {
    font-size: 10px;
  }
}
.ep-list-directory.ep-header-visible {
  top: 90px;
  height: calc(100vh - 160px);
}
.ep-list-directory-item {
  flex: 1 100%;
}
.ep-list-directory-item .ep-list-directory-item-enabled {
  cursor: pointer;
}
.ep-list-directory a {
  text-decoration: none !important;
  font-weight: bold;
  color: #008ddd;
}
.ep-list-directory li {
  color: #129ff4;
  font-weight: bold;
}
.ep-list-directory.small-index-list {
  display: none;
}
.ep-list-directory.small-index-list li {
  line-height: 4vh;
}
.ep-list-directory .fa-circle {
  font-size: 8px;
}
#ep-list-search {
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  width: 90%;
}
.ep-list-search-container {
  position: absolute;
  width: 100%;
  background-color: #CAC9CE;
  z-index: 999;
  height: 50px;
  padding-left: 5%;
  top: 0;
}
.ep-list-search-container .glyphicon {
  position: absolute;
  left: 10px;
  top: 17px;
  padding-left: 5%;
}
.ep-list-id {
  float: right;
  margin-right: 12%;
}
.ep-list-arrow {
  padding-top: 2px;
  margin-right: 30px;
}
.ep-list-subtitle {
  margin-top: 15px;
}
.ep-list-sub-header {
  background-color: #f3f3f3;
  height: 40px;
  padding-top: 10px;
  padding-left: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.ep-list-sub-header label {
  width: 60px;
  font-size: 14px;
  color: #0379bc;
}
.ep-list-inner .mainTitle,
.ep-list-inner .subTitle,
.ep-list-inner .additionalTitle,
.ep-list-inner .otherAdditionalTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ep-list-inner .statuses {
  position: absolute;
  top: 10px;
  right: 40px;
}
.ep-list-inner .statuses .status {
  height: 20px;
}
/* workaround for modal dialogs ep-list are overflowing */
.ep-modal-window .ep-modaldialog-custom .dialog-area {
  padding-left: 10px !important;
  padding-right: 10px !important;
  position: fixed !important;
  overflow: hidden !important;
}
.ep-list-modal-dialog .ep-modal-header {
  padding: 10px 10px 0 10px;
  border: none;
}
.ep-list-modal-dialog .ep-list-container,
.ep-list-modal-dialog .ep-contacts-list-container {
  height: calc(20%);
  width: calc 90%;
  position: relative !important;
}
.ep-list-modal-dialog .ep-modal-area {
  padding-left: 10px !important;
  padding-right: 10px !important;
  /*position:fixed !important;*/
  overflow: hidden !important;
}
.ep-list-modal-dialog .ep-list {
  padding-bottom: 97px;
}
.ep-list-modal-dialog .ep-list-directory {
  padding-bottom: 100px;
}
@media (max-width: 350px) {
  .ep-list-modal-dialog .ep-list-directory {
    padding-bottom: 100px;
    font-size: 9px;
  }
  .ep-list-modal-dialog .ep-list-item-text {
    width: 50%;
  }
  .ep-list-modal-dialog .ep-list-item-details {
    width: 25%;
  }
  .ep-list-modal-dialog .ep-list-item-details {
    width: 10%;
  }
  .ep-list-item-text {
    width: 50%;
  }
  .ep-list-item-details {
    width: 25%;
  }
  .ep-list-item-details {
    width: 10%;
  }
}
@media (max-height: 400px) {
  .ep-list-modal-dialog .ep-list-directory {
    display: none;
  }
  .ep-list-directory {
    display: none;
  }
}
.ep-list-modal-dialog .ep-index-list {
  padding-top: 50px;
}
.ep-list-modal-dialog .ep-modal-list-arrow {
  padding-top: 3px;
}
.ep-list-modal-dialog .ep-modal-footer {
  z-index: 14;
  position: fixed;
}
.ep-list-filter-indicator {
  color: #f23306;
  margin-left: 5px;
  font-size: 12px;
  position: absolute;
}

.ep-context-menu {
  /*properties can be specified if needed*/
}
.ep-hover-context-menu {
  /* parent class for the context menu.
	To be supplied in case context menu has to be displayed on hover */
}
.ep-hover-context-menu:hover .ep-actionset {
  display: inline-block;
}
.ep-interactivity-context-menu {
  text-align: center;
  line-height: 100% !important;
}
@media only screen and (max-width: 768px) {
  .ep-context-menu-owner {
    display: block;
    line-height: inherit !important;
  }
}

@media only screen and (max-width: 768px) {
  #ep-dynamic-menu,
  .edd-overlay-ctr {
    position: fixed !important;
    top: auto !important;
    right: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    color: black;
    z-index: 3000;
    background-color: rgba(48, 60, 67, 0.7);
  }
}
@media only screen and (min-width: 768px) {
  #ep-dynamic-menu {
    position: absolute;
    color: black;
    z-index: 1000;
  }
}
#ep-dynamic-menu .dropdown-menu {
  display: block !important;
}
