/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-color-selector-container .btn {
  background-color: #F5F5F5;
}
.ep-color-selector-container .btn span {
  color: #000;
  display: inline-block;
}
.ep-color-selector-container .colorpicker-position-top.dropdown,
.ep-color-selector-container .colorpicker-position-bottom.dropdown {
  right: 0 !important;
  left: auto !important;
}
.ep-color-selector-container .colorpicker-position-left.dropdown {
  right: 50px !important;
  left: auto !important;
}
.ep-color-selector-container .colorpicker-position-right.dropdown {
  left: 50px !important;
}
.ep-color-selector-container .colorpicker-position-top .dropdown-menu:before,
.ep-color-selector-container .colorpicker-position-bottom .dropdown-menu:before {
  left: auto;
  right: 15px;
}
.ep-color-selector-container .colorpicker-position-top .dropdown-menu:after,
.ep-color-selector-container .colorpicker-position-bottom .dropdown-menu:after {
  left: auto;
  right: 16px;
}
.ep-color-selector-container .colorpicker-position-left .dropdown-menu:before {
  left: auto;
  right: -6px;
}
.ep-color-selector-container .colorpicker-position-left .dropdown-menu:after {
  left: auto;
  right: -5px;
}

.ep-icon-selector-container .icon-filter-field {
  width: 100%;
  position: absolute;
  height: 40px;
  padding: 0 10%;
  background-color: #ddd;
}
.ep-icon-selector-container .dropdown-menu {
  width: 295px;
}
.ep-icon-selector-container .icon-list {
  margin-top: 40px;
  max-height: 300px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
.ep-icon-selector-container .icon-list li {
  list-style-type: none;
  padding: 5px 25px 5px 15px;
}
.ep-icon-selector-container .icon-list li:hover {
  cursor: pointer;
  background-color: #F5F5F5;
  font-weight: bold;
}
.ep-icon-selector-container .icon-list li span {
  padding-right: 5px;
}
.ep-icon-selector-container .input-group-btn .btn {
  background-color: #F5F5F5;
}

.ep-range-slider-ctr {
  /* padding: 0 15px; */
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 15px;
}
.ep-range-slider-value-ctr {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
}
.ep-range-slider-value-ctr:hover {
  color: #00bfff;
}
.ep-range-slider-value-axis {
  position: relative;
  height: 3px;
  background-color: #dcdcdc;
  margin-top: 15px;
  margin-bottom: 15px;
}
.ep-range-slide-handle {
  height: 30px;
  width: 30px;
  /*-ms-border-radius: 20px;*/
  border-radius: 20px;
  border: 3px solid #fff;
  position: absolute;
  top: -15px;
  background-color: #dcdcdc;
  cursor: pointer;
  z-index: 9997;
}
.ep-range-slide-handle:hover {
  background-color: #00bfff;
}
.ep-range-slide-handle-min {
  left: 0;
}
.ep-range-slide-handle-max {
  right: 0;
}
.ep-range-handle-drag .ep-range-ctr {
  z-index: 9997;
}
.ep-range-handle-drag .ep-range-slide-handle {
  z-index: 9999;
}
.ep-range-drag .ep-range-ctr {
  z-index: 9999;
}
.ep-range-drag .ep-range-slide-handle {
  z-index: 9997;
}
.ep-range-ctr {
  position: absolute;
  padding: 15px 0;
  top: -15px;
  cursor: pointer;
  left: 30px;
  right: 30px;
}
.ep-range-ctr:hover {
  cursor: move;
}
.ep-range-ctr:hover ~ .ep-range-slide-handle,
.ep-range-ctr:active ~ .ep-range-slide-handle {
  background-color: #00bfff;
}
.ep-range {
  background-color: #00bfff;
  height: 3px;
}
.ep-range-steps-ctr {
  position: relative;
  height: 5px;
  margin-top: -15px;
  margin-bottom: 15px;
  visibility: hidden;
}
.active .ep-range-steps-ctr {
  visibility: visible;
}
.ep-range-step {
  width: 1px;
  height: 5px;
  background-color: #000;
  border: 3px;
  position: absolute;
}
.ep-range-step-0 {
  top: 50%;
  left: 0;
  height: 10px;
}
.ep-range-step-25 {
  top: 50%;
  left: 25%;
  height: 10px;
}
.ep-range-step-50 {
  top: 50%;
  left: 50%;
  height: 10px;
}
.ep-range-step-75 {
  top: 50%;
  left: 75%;
  height: 10px;
}
.ep-range-step-100 {
  top: 50%;
  left: 100%;
  height: 10px;
}
.ep-range-slider-toggle-mode {
  cursor: pointer;
  color: #02abe4;
}
.ep-range-input-min,
.ep-range-input-max {
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

.ep-record-editor {
  margin-left: 10px;
  /*margin-right: 30px;*/
  overflow-y: auto;
  overflow-x: hidden;
}
@media screen and (max-width: 500px) {
  .ep-record-editor {
    margin-left: 0;
  }
}
.ep-record-editor-column {
  min-width: 250px;
}
/* in modal dialogs (parameters) allow lesser size */
.ep-modal-window .ep-record-editor-column {
  min-width: 50px;
}
.ep-record-editor .ep-record-editor-container {
  /* width: 300px; */
  padding: 10px;
  margin-top: 8px;
  margin-right: 8px;
}
.ep-editor-control .ep-record-editor-container .input-group {
  width: 100%;
}
.ep-editor-control .ep-record-editor-container .ep-editor-label {
  display: block;
}
.ep-editor-control .ep-editor-checkbox {
  width: 100%;
  cursor: pointer;
}
/*.ep-editor-control .ep-editor-checkbox >span {
    padding: 14px;
}*/
.ep-editor-control .form-control.editor[disabled] {
  cursor: default;
}
.ep-editor-control.ep-editor-mode-mini {
  padding-left: 2px;
  padding-right: 2px;
}
.ep-editor-control.ep-editor-mode-mini input {
  /*border: none; if you set border none then we cannot highlight the error */
  outline: none;
}
.ep-editor-control.ep-editor-mode-mini .ep-record-editor-container {
  margin-bottom: 2px;
  margin-top: 2px;
}
/* ep-is-row-editor for "is-row" mode */
ep-editor-control .ep-record-editor-container.ep-is-row-editor {
  width: 100%;
}
/* make label vertically aligned inside the column */
.ep-editor-control .ep-record-editor-container .ep-div-editor-label {
  position: relative;
}
.ep-editor-control .ep-record-editor-container.ep-is-row-editor .ep-editor-label {
  padding-top: 10px;
  padding-left: 5px;
  position: absolute;
  /*transform: translateX(10%);*/
  text-align: left;
}
.ep-editor-control .ep-date-editor .ep-time-picker {
  padding: 0px;
  padding-left: 2px;
  width: 100px;
  top: 0px;
  border: 0px;
  background-color: transparent;
}
.ep-editor-control .ep-date-editor .ep-time-picker.ep-time-meridian {
  width: 140px;
}
.ep-editor-control .ep-date-editor .ep-time-picker .form-control {
  padding: 0px;
  min-width: 30px;
}
/* workaround for now beacuse with meridian the time cells are not aligned */
.ep-editor-control .ep-date-editor .form-control.editor.ep-time-meridian {
  margin-top: 1px;
}
/* workaround has-error making text invisible on control buttons */
.ep-editor-control .has-error .input-group-addon {
  color: initial;
}
@media screen and (max-width: 400px) {
  .ep-editor-control .ep-date-editor .ep-time-meridian.ep-time-new-line {
    float: left;
    padding-top: 5px;
    padding-left: 0;
  }
}
/* disabled and read-only */
.ep-editor-control .form-control[disabled],
.ep-editor-control .form-control[readonly],
.ep-editor-control fieldset[disabled] .form-control {
  opacity: 0.5;
}

/* This is a workaround opera issue with the ep-switch wrapping */
.ep-browser-opera ep-switch .bootstrap-switch-label {
  margin-left: -0.5px;
}
