/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
/* commented out color - interferring with themes */
.dataTables_wrapper .dataTables_paginate {
  /*float: right;*/
  /* causes buttons overflow in dialogs*/
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  /*color: #333 !important;*/
  border: 1px solid transparent;
  border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  /*color: #333 !important;*/
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  /*color: #666 !important;*/
  border: 1px solid transparent;
  /*background: transparent;*/
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  /*color: white !important;*/
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}
/* -----<<<< Pagination styling taken from dataTables.jqueryui.css --------------<<<<*/
/* Grid Search */
.ep-data-grid .ep-dg-grid-search {
  padding: 0;
  margin: 0;
  position: relative;
  /* needed for search-icon overlay */
}
.ep-data-grid #gridSearch.hide {
  visibility: hidden;
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-input {
  padding-right: 30px;
  margin-top: 1px;
  /* to align with config button */
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-input::-ms-clear {
  display: none;
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-icon-overlay {
  position: absolute;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-left: -25px;
  margin-top: 5px;
}
.ep-data-grid > .ep-dg-grid-search > .ep-dg-search-icon-overlay.invisible {
  visibility: hidden;
}
.ep-data-grid .dataTables_scrollBody > div {
  display: none;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td {
  cursor: pointer;
  white-space: normal;
}
.ep-data-grid .ep-dg-grid-table > thead > tr > th {
  white-space: nowrap;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td,
.ep-data-grid .ep-dg-grid-table > thead > tr > th {
  overflow: hidden;
  border-collapse: collapse;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 400px;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td.active {
  font-weight: bold;
  border: 2px dotted #888;
}
.ep-data-grid .ep-dg-grid-table > tbody > tr > td.fixed,
.ep-data-grid .ep-dg-grid-table > thead > tr > th.fixed {
  /*border-left: none;
    border-right: none;*/
  min-width: 18px;
  max-width: 36px !important;
  width: 18px;
}
.ep-data-grid .row-alert {
  max-width: 800px;
  white-space: normal;
}
.ep-data-grid div.dataTables_scrollBody {
  -webkit-transform: translate3d(0, 0, 0);
}
.ep-data-grid div.dataTables_scroll {
  height: 80%;
  height: -moz-calc(100% - 80px);
  height: -webkit-calc(100% - 80px);
  height: -o-calc(100% - 80px);
  height: calc(100% - 80px);
}
.ep-data-grid .inline-link {
  margin: 0 10px 0 5px;
}
.ep-data-grid .ep-dg-grid-table > thead > tr > th {
  min-width: 36px;
}
.ep-data-grid table.dataTable thead .sorting,
.ep-data-grid table.dataTable thead .sorting_asc,
.ep-data-grid table.dataTable thead .sorting_desc {
  /*background-color: #888;*/
  cursor: pointer;
}
/*.ep-data-grid table.dataTable thead .sorting {
    background: url('assets/ep.datagrid/sort_both.png') no-repeat center right;
}

.ep-data-grid table.dataTable thead .sorting_asc {
    background: url('assets/ep.datagrid/sort_asc.png') no-repeat center right;
}

.ep-data-grid table.dataTable thead .sorting_desc {
    background: url('assets/ep.datagrid/sort_desc.png') no-repeat center right;
}*/
.ep-data-grid #tblGridView {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
/* Bootstrap sets the max-width of the table element to 100%, which disables horizontal scrolling in safari. */
.ep-data-grid table {
  max-width: initial;
}
.ep-data-grid table.dataTable tbody tr {
  color: inherit;
}
.ep-data-grid .dataTables_processing {
  position: absolute;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  background: #fff;
  font-size: 15px !important;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.ep-data-grid .table.ep-dg-grid-table {
  overflow: hidden;
  margin: 0;
}
.ep-data-grid .ep-dg-grid-table > tr:nth-child(even) > td {
  background-color: #fdfdfd;
  border: #ededed solid 1px;
}
.ep-data-grid .load-more {
  text-align: center;
}
.ep-data-grid .load-more-cell {
  width: 1px;
  padding: 0 10px;
  white-space: nowrap;
}
.ep-data-grid .bootstrap-tagsinput {
  width: 100%;
}
.ep-data-grid .typeahead,
.ep-data-grid .tt-query,
.ep-data-grid .tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.ep-data-grid .typeahead {
  background-color: #fff;
}
.ep-data-grid .typeahead:focus {
  border: 2px solid #0097cf;
}
.ep-data-grid .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ep-data-grid .tt-hint {
  color: #999;
}
.ep-data-grid .tt-input {
  width: 100%;
}
.ep-data-grid .tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ep-data-grid .tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.ep-data-grid .tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.ep-data-grid .tt-suggestion p {
  margin: 0;
}
/*------------------- DRILL THROUGH ------------------------------- -->>>>>>*/
.drill-header::before {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 12px;
  font-weight: normal;
  content: "\f08e";
  margin-left: 5px;
  margin-right: 5px;
}
.drill-cell > .drill-icon + .right-align {
  display: inline;
  float: right;
}
.drill-cell > .drill-icon + a {
  display: inline;
}
.drill-cell > .drill-icon {
  padding-right: 0px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.drill-cell:hover > .drill-icon {
  padding-right: 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.drill-cell > .drill-icon::before {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 5px;
  content: "\f08e";
  cursor: pointer;
  position: absolute;
  margin-left: 0px;
  margin-top: 7px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.drill-cell:hover > .drill-icon::before {
  font-size: 15px;
  margin-left: 0px;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/*------------------- NEW GRID ------------------------------- -->>>>>>*/
.ep-data-grid .ep-datagrid-filter-row .ep-hide-filter-col {
  width: 0;
  grid-column-span: 1;
  grid-row-span: 1;
}
.ep-data-grid .ep-datagrid-filter-row .ep-datagrid-filter-header {
  padding: 2px !important;
}
.ep-data-grid .ep-datagrid-filter-row .ep-datagrid-filter-header .ep-datagrid-filter-op {
  vertical-align: top;
  padding-top: 0.2em;
  min-width: 40px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.ep-data-grid .ep-datagrid-filter-row .ep-datagrid-filter-op .ep-datagrid-filter-text {
  margin-top: 0.5em;
}
.ep-data-grid .ep-dg-progressIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background-color: transparent;
  z-index: 1000;
  padding-left: 0;
}
.ep-data-grid #dataGridTable {
  max-width: initial;
}
/* to enable grid row rules must overwrite setting of dataTables.jqueryui.css */
.ep-data-grid table.dataTable {
  border-collapse: collapse;
}
.ep-data-grid .ep-datagrid-header-section {
  min-height: 20px;
  text-align: center;
  margin: 2px;
}
.ep-data-grid .ep-datagrid-footer-section {
  min-height: 20px;
  text-align: center;
  margin: 2px;
}
.ep-dg-config {
  padding: 0px;
  padding-right: 3px;
  background-color: transparent;
  margin: 0px;
}
.ep-dg-config.input-group-addon {
  padding: 0px 1px 0px 0px;
}
