/*
 * emf (Epicor Mobile Framework) 
 * version:1.0.31-dev.3 built: 02-04-2018
*/
.ep-login-background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  /* Ensure div tag stays behind content; -999 might work, too. */
}
.ep-login-background .ep-background-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  opacity: 0.4;
  background: url('assets/ep.token/ep-login-view-1.png') no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ep-login-background .ep-background-custom-image {
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  opacity: 0.4;
}
@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  .ep-login-background .ep-background-image {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
.ep-login-box {
  padding-top: 40px;
  padding-bottom: 70px;
  width: 90%;
  max-width: 350px;
}
.ep-login-up-box {
  background-color: rgba(224, 224, 224, 0.9);
  width: 100%;
  position: absolute;
  top: 45%;
  transform: translateY(-55%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.ep-login-text {
  color: #2c3e50;
}
.ep-login-reset-app {
  padding-top: 10px;
  font-weight: bold;
  text-decoration: underline;
}


div.ep-binding-label {
  /*padding-left: 5px;*/
}
.ep-binding-label label {
  text-align: left;
  width: 100%;
  padding-left: 0px;
}
.ep-binding-label.ep-label-editor {
  padding-top: 8px;
}
/* the scroll up in a dialog had issues when z-index was set to 2*/
.ep-binding .pagination > .active > a {
  z-index: 0;
}
.ep-binding-label .ep-required-indicator {
  padding-left: 3px;
  font-size: 6px;
  vertical-align: super;
  position: relative;
}
